workflows/Agente Garage 2.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-12T19:58:16.519Z",
    "createdAt": "2026-01-12T19:58:16.519Z",
    "versionId": "92f14ae8-afa7-4c23-8149-e040f584f996",
    "workflowId": "u6DfwRckAn3dzoxp",
    "nodes": [
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.3,
        "position": [
          -2896,
          336
        ],
        "id": "73106eb2-c1d4-43f9-b78e-f49f885ad08a",
        "name": "When chat message received",
        "webhookId": "0e9f3e5c-47c1-4336-844c-955c5f9335c9",
        "disabled": true
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.session.session_id }}",
          "tableName": "ortho_x_chat_histories",
          "contextWindowLength": 15
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          624,
          496
        ],
        "id": "6eadef73-105a-4c82-b032-ce5d6f8686bb",
        "name": "Postgres Chat Memory",
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          336,
          496
        ],
        "id": "c982712f-5c44-430f-9ab1-d632d7bb5591",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "ER0I3fZmmkBwmDBr",
            "name": "OpenAi ni.automacoes"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b12249d9-c3b0-40dc-a332-cc509fae1922",
                "name": "telefone",
                "value": "=19996004221",
                "type": "string"
              },
              {
                "id": "0069d741-de73-40c2-9947-38b742d0d8b9",
                "name": "chatInput",
                "value": "={{ $('When chat message received').last().json.chatInput }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2624,
          336
        ],
        "id": "27469036-20a0-4a41-b798-b79c2c50cb81",
        "name": "SET telefone"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -2896,
          512
        ],
        "id": "a808da8f-4a6d-4caa-9c44-5cec207705c2",
        "name": "When clicking ‘Execute workflow’",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "DO $$\nDECLARE\n  target_phone text := '{{ $('SET telefone').last().json.telefone }}';\nBEGIN\n  -- Step 1: Delete from user_session\n  DELETE FROM public.user_session\n  WHERE telefone = target_phone;\n\n  -- Step 1: Delete from sessao_agendamento\n  DELETE FROM public.sessao_agendamento\n  WHERE telefone = target_phone;\n\n  -- Step 2: Delete from cliente\n  DELETE FROM public.cliente\n  WHERE telefone = target_phone;\n\nEND $$;\n",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1952,
          32
        ],
        "id": "f98c89ae-6f69-4ab0-8ff9-41b1fe204bcc",
        "name": "DELETE user_session, conversation_state, leads",
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "7173483a-a3cc-4e35-9dd7-4f181216d247",
                "leftValue": "={{ $('When chat message received').last().json.chatInput }}",
                "rightValue": "##delete",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -2272,
          336
        ],
        "id": "6cc4d47f-0e36-4c49-ad85-b06e5c28244b",
        "name": "IF trigger delete"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH existing_cliente AS (\n    SELECT *\n    FROM public.cliente\n    WHERE telefone = '{{ $('SET telefone').last().json.telefone }}'\n    LIMIT 1\n), inserted_cliente AS (\n    INSERT INTO public.cliente (telefone)\n    SELECT '{{ $('SET telefone').last().json.telefone }}'\n    WHERE NOT EXISTS (SELECT 1 FROM existing_cliente)\n    RETURNING *\n), final_cliente AS (\n    SELECT * FROM existing_cliente\n    UNION ALL\n    SELECT * FROM inserted_cliente\n), cliente_with_session AS (\n    SELECT \n        f.*,\n        s.session_id,\n        s.precisa_saudar,\n        us.transferido_para_humano,\n        us.id_agente_humano\n    FROM final_cliente f\n    CROSS JOIN LATERAL get_or_create_session(f.telefone) s\n    LEFT JOIN public.user_session us\n    ON us.id = s.session_id\n)\nSELECT json_build_object(\n    'cliente', to_jsonb(f) - 'session_id' - 'precisa_saudar' - 'transferido_para_humano' - 'id_agente_humano',\n    'session', json_build_object(\n        'session_id', f.session_id,\n        'precisa_saudar', f.precisa_saudar,\n        'transferido_para_humano', f.transferido_para_humano,\n        'id_agente_humano', f.id_agente_humano\n    )\n) AS result\nFROM cliente_with_session f;\n",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -256,
          256
        ],
        "id": "ba16e712-6d6d-4d3c-a5a2-c198bcb662ee",
        "name": "CREATE & SELECT cliente & user_session",
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        }
      },
      {
        "parameters": {
          "description": "=Chame esta ferramenta para criar um agendamento.",
          "workflowId": {
            "__rl": true,
            "value": "QdM1vovkWoQMSLtF",
            "mode": "list",
            "cachedResultUrl": "/workflow/QdM1vovkWoQMSLtF",
            "cachedResultName": "Agendamento V2 | Easy Appointments"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "id_usuario": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.id_usuario }}",
              "telefone": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.telefone }}",
              "hora": "={{ $fromAI('hora', `Utilize esse campo para o horário do procedimento no formato hh:mm:ss`, 'string', 'nao_informado') }}",
              "nome_paciente": "={{ $fromAI('nome_paciente', `Utilize esse campo para o nome do paciente`, 'string', 'nao_informado') }}",
              "session_id": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.session.session_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "hora",
                "displayName": "hora",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "id_usuario",
                "displayName": "id_usuario",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telefone",
                "displayName": "telefone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "nome_paciente",
                "displayName": "nome_paciente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "session_id",
                "displayName": "session_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          688,
          688
        ],
        "id": "46a32f59-de6e-484d-9286-89513f00b691",
        "name": "criar_agendamento"
      },
      {
        "parameters": {
          "description": "=Chame esta ferramenta para vefiricar os horários disponíveis após o usuário informar nome e data, horário e o procedimento.",
          "workflowId": {
            "__rl": true,
            "value": "MQZxGZkhiSk4BXLK",
            "mode": "list",
            "cachedResultUrl": "/workflow/MQZxGZkhiSk4BXLK",
            "cachedResultName": "Busca Disponibilidade| Easy Appointments"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "telefone": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.telefone }}",
              "hora": "={{ $fromAI('hora', `Utilize esse campo para o horário do procedimento`, 'string', 'nao_informado') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "hora",
                "displayName": "hora",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telefone",
                "displayName": "telefone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          1056,
          688
        ],
        "id": "f61bc7e8-2cf7-4d62-a959-0178c6126135",
        "name": "verifica_disponibilidade_agenda"
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "sessao_agendamento",
            "mode": "list",
            "cachedResultName": "sessao_agendamento"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "telefone",
                "value": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.telefone }}"
              },
              {
                "column": "deletado",
                "value": "false"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          256,
          272
        ],
        "id": "ee82fb85-10bd-4e58-9f22-5e11ed7ce6f0",
        "name": "SELECT sessao_agendamento",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "https://orthox-easyappointments.reyhdo.easypanel.host/index.php/api/v1/customers",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "=19998210119"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Basic YXV0b21hY29lcy5vcnRob3hAZ21haWwuY29tOnJ0azZyeWNAUUhEKm56djB6bW4="
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1696,
          32
        ],
        "id": "fbf5d72a-19ba-4cd6-9258-f6504976a7c2",
        "name": "GET customer if exists",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "=https://orthox-easyappointments.reyhdo.easypanel.host/index.php/api/v1/customers/{{ $('GET customer if exists').last().json.id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Basic YXV0b21hY29lcy5vcnRob3hAZ21haWwuY29tOnJ0azZyeWNAUUhEKm56djB6bW4="
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1456,
          32
        ],
        "id": "1ac36043-0b45-4af5-9aac-c3e4fd75fc48",
        "name": "DELETE test customer",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "description": "Consulta agendamentos existentes do cliente. Use para verificar, listar ou obter detalhes de agendamentos já confirmados pelo cliente.",
          "workflowId": {
            "__rl": true,
            "value": "lDKIAPPZxKs173gl",
            "mode": "list",
            "cachedResultUrl": "/workflow/lDKIAPPZxKs173gl",
            "cachedResultName": "EasyAppointments | Consulta Agendamento"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "id_usuario": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.id_usuario }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "telefone",
                "displayName": "telefone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "id_usuario",
                "displayName": "id_usuario",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "cliente_solicita",
                "displayName": "cliente_solicita",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          1264,
          688
        ],
        "id": "ef33637d-0fe5-4507-abce-efe88932837f",
        "name": "consulta_agendamento"
      },
      {
        "parameters": {
          "description": "Cancela agendamentos existentes do cliente. Use para cancelar agendamentos já confirmados, passe \"reagendamento = true\" caso o cliente queira reagendar.",
          "workflowId": {
            "__rl": true,
            "value": "0O6y5NDvNkKnkHWl",
            "mode": "list",
            "cachedResultUrl": "/workflow/0O6y5NDvNkKnkHWl",
            "cachedResultName": "Cancelar Agendamento | EasyAppointments"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "id_usuario": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.id_usuario }}",
              "data_agendada": "={{ $fromAI('data_agendada', `data e hora da consulta agendada que deseja cancelar em formato YYYY-mm-dd hh:mm:ss`, 'string') }}",
              "nome_paciente": "={{ $fromAI('nome_paciente', `O nome completo do paciente.`, 'string') }}",
              "session_id": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.session.session_id }}",
              "reagendamento": "={{ $fromAI('reagendamento', `true se estiver fazendo reagendamento`, 'boolean', false) }}",
              "telefone": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.telefone }}"
            },
            "matchingColumns": [
              "info_cancelamento"
            ],
            "schema": [
              {
                "id": "id_usuario",
                "displayName": "id_usuario",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "data_agendada",
                "displayName": "data_agendada",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "nome_paciente",
                "displayName": "nome_paciente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "reagendamento",
                "displayName": "reagendamento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "boolean",
                "removed": false
              },
              {
                "id": "session_id",
                "displayName": "session_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telefone",
                "displayName": "telefone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          1472,
          688
        ],
        "id": "fe1c3166-4be4-46c2-b101-b627590ac0a4",
        "name": "cancela_agendamento"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('mensagem_concatenada').last().json.message }}",
          "options": {
            "systemMessage": "=Você é um assistente de inteligência artificial chamada Bia, uma agente especializada em tirar dúvidas e realizar o agendamento de consultas para a clínica OrthoX. Sua missão é responder aos clientes pelo WhatsApp e guiá-los até a marcação da consulta.\n\n## Objetivo\nSeu objetivo principal é conseguir as seguintes informações antes de consultar ou realizar um agendamento.\n\n{{\n  (() => {\n    const cliente = $('CREATE & SELECT cliente & user_session').last().json.result.cliente;\n    const sessao_agendamento = $('SELECT sessao_agendamento').last().json;\n\n    return `\nTelefone: ${\n        cliente?.telefone\n          ? `Informação já obtida (${cliente.telefone})`\n          : 'Solicite para a pessoa o telefone'\n      }\nNome: ${\n        cliente?.nome\n          ? `Informação já obtida, NÃO perguntar novamente (${cliente.nome})`\n          : '* **PRIMEIRA PERGUNTA OBRIGATÓRIA**: \"Qual seu nome?\" (para identificar quem está falando)'\n      }\nConvenio: ${\n        sessao_agendamento?.convenio\n          ? `Informação já obtida (${sessao_agendamento.convenio})`\n          : 'SEMPRE solicite para a pessoa se é por convênio ou particular, SE for por convênio, solicite o nome do convênio'\n      }\nDentista indicou: ${\n        sessao_agendamento?.dentista\n          ? `Informação já obtida (${sessao_agendamento.dentista})`\n          : 'SEMPRE solicite para a pessoa se foi indicada por algum dentista, SE sim, solicite o nome do dentista'\n      }\nUnidade: ${\n        sessao_agendamento?.unidade_id\n          ? `Informação já obtida (${sessao_agendamento.unidade_id})`\n          : 'SEMPRE solicite para a pessoa a unidade'\n      }\nProcedimento: ${\n        sessao_agendamento?.servico_id\n          ? sessao_agendamento.servico_id != \"undefined\" ? `Informação já obtida (${sessao_agendamento.servico_id})` : 'SEMPRE solicite para a pessoa o procedimento/exame desejado, podendo ser enviado via texto ou foto'\n          : 'SEMPRE solicite para a pessoa o procedimento/exame desejado, podendo ser enviado via texto ou foto'\n      }\nData Agendamento: ${\n        sessao_agendamento?.data_agendamento\n          ? `Informação já obtida (${sessao_agendamento.data_agendamento})`\n          : 'Solicite para a pessoa a data desejada'\n      }`;\n  })()\n}}\n\n## FLUXO OBRIGATÓRIO DE FERRAMENTAS (EXECUTAR NA ORDEM)\n\n### Fase 1 - Coleta de Dados:\n1. SEMPRE que receber Nome → EXECUTE `atualiza_dados` IMEDIATAMENTE\n2. SEMPRE que receber Convenio → EXECUTE `atualiza_dados` IMEDIATAMENTE  \n3. SEMPRE que receber Unidade → EXECUTE `atualiza_dados` IMEDIATAMENTE  \n4. SEMPRE que receber Procedimento → EXECUTE `atualiza_dados` IMEDIATAMENTE\n   - CORRIJA a ortografia SOMENTE do Procedimento antes de atualizar\n\n### Fase 2 - Disponibilidade:\n4. SOMENTE APÓS ter Nome + Unidade + Procedimento coletados:\n   - Pergunte qual dia o usuário gostaria de agendar\n   - **SEMPRE** utilize a ferramenta `Think` para determinar o dia corretamente\n   - Quando usuário informar data agendamento → EXECUTE `atualiza_dados` IMEDIATAMENTE\n   - Após executar `atualiza_dados` → EXECUTE `verifica_disponibilidade_agenda`\n   - NUNCA sugira horários sem executar esta ferramenta\n\n### Fase 3 - Consulta:\n5. Para CONSULTAR agendamentos → EXECUTE `consulta_agendamento`\n   - NUNCA use informações de memória/histórico/chat history para listar agendamentos\n\n### Fase 4 - Ação Final:\n6. Para CRIAR agendamento → EXECUTE `criar_agendamento`\n7. Para CANCELAR → EXECUTE `consulta_agendamento` PRIMEIRO, DEPOIS `cancela_agendamento`\n   - **SEMPRE** utilize a ferramenta `Think` para determinar se completou o fluxo de cancelamento\n\n## GATILHOS AUTOMÁTICOS DE FERRAMENTAS\n\nEXECUTE IMEDIATAMENTE (sem avisar o usuário):\n- Nome recebido → `atualiza_dados`\n- Convênio recebido → `atualiza_dados`\n- Dentista recebido → `atualiza_dados`\n- Unidade e Procedimento informados → `atualiza_dados`\n- Data/horário solicitado → `verifica_disponibilidade_agenda`\n- Pedido de cancelamento → `consulta_agendamento`\n- Pedido de consulta de agendamentos → `consulta_agendamento`\n- Confirmação de agendamento → `criar_agendamento`\n- Confirmação de cancelamento → `cancela_agendamento`\n- Solicitar falar com um \"agente humano\", \"atendente\", \"pessoa real\", \"médico\" → `falar_com_humano`\n\n## BLOQUEIOS OBRIGATÓRIOS\n\n- **NUNCA** sugira horários sem executar `verifica_disponibilidade_agenda`\n- **NUNCA** mostre agendamentos sem executar `consulta_agendamento`\n- **NUNCA** crie agendamento sem confirmação explícita do usuário\n- **NUNCA** cancele sem primeiro executar `consulta_agendamento`\n- **NUNCA** use informações de memória/histórico/chat history para disponibilidades\n- **NUNCA** execute múltiplas operações simultâneas (crie/cancele APENAS um por vez)\n- **NUNCA** faça duas perguntas em uma única mensagem\n- **NUNCA** pause a conversa ou peça \"um momento\"\n- **NUNCA** anuncie ao usuário que vai usar ferramentas\n\nSEMPRE BLOQUEIE E PEÇA INFO SE:\n- Faltam dados obrigatórios para a ferramenta\n- Usuário não confirmou explicitamente a ação\n- Horário solicitado não está disponível (ofereça o próximo disponível)\n\n## USO OBRIGATÓRIO DE RESPOSTAS DAS FERRAMENTAS\n\nApós executar ferramenta:\n1. USE APENAS o campo 'response' da ferramenta como base da resposta\n2. NUNCA invente ou adicione informações não retornadas pela ferramenta\n3. Se sucesso → prossiga IMEDIATAMENTE com próxima pergunta pendente\n\n## Diretrizes de Conversação\n\n* SEMPRE apresente-se dizendo seu nome e a sua função de maneira cordial\n* APÓS obter o nome do usuário, prossiga com outras informações\n* Aguarde a resposta antes de seguir para a próxima pergunta\n* Utilize a data de hoje para se orientar: {{ new Date().toLocaleString(\"pt-br\", {  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false }) }}\n* Você sempre receberá o dia e horário atuais; a partir daí, identifique datas como amanhã, depois de amanhã, semana que vem, mês que vem, ano que vem\n* NUNCA invente respostas\n* **NUNCA peça \"um momento\" ou similar** - mantenha o fluxo natural\n* NUNCA utilize emojis\n* Mantenha o tom prestativo ao longo de toda a conversa\n* Evite repetir o nome da pessoa em toda resposta. Use de forma natural, quando necessário\n\n## Unidades\n- Se o usuário escolher a unidade de São Bernando do Campo (SBC) o id da unidade = 1\n- Se o usuário escolher a unidade de Diadema o id da unidade = 2\n- Se o usuário escolher a unidade Premium o id da unidade = 3\n- Se o usuário escolher a unidade de Santo André o id da unidade = 4\n- **Se o usuário estiver utilizando convênio, não ofereça a opção da unidade Premium**\n- **Mostre a unidade Premium se o usuário fizer por Particular**\n\n## Identificação do Paciente\n\n**FLUXO OBRIGATÓRIO:**\n- **SEMPRE PERGUNTE**: \"Este agendamento é para você ou para outra pessoa?\"\n\n**Se for para outra pessoa:**\n- Colete: \"Qual o nome completo da pessoa para o agendamento?\"\n- **IMPORTANTE**: NUNCA use `atualiza_dados` para o nome do paciente\n\n**Se for para o próprio usuário:**\n- Utilize o Nome já coletado\n\n## Fluxo de Coleta (IMPORTANTE)\nQuando receber uma informação do usuário:\n1. Use a ferramenta necessária SEM avisar\n2. IMEDIATAMENTE faça a próxima pergunta pendente\n3. NUNCA pause a conversa para \"atualizar\" ou \"registrar\"\n\n## Progresso Parcial\nSe o cliente fornecer apenas parte dos dados:\n- Agradeça brevemente E faça a próxima pergunta na MESMA mensagem\n- Exemplo: \"Perfeito! Agora, qual seu nome completo?\"\n\n## Procedimentos Específicos\n\n### Cancelamento\n- Nome recebido com pedido de cancelamento → EXECUTE `consulta_agendamento` IMEDIATAMENTE\n- SEMPRE liste TODOS os agendamentos numericamente após executar `consulta_agendamento`\n- QUANDO houver múltiplos agendamentos:\n  - LISTE: \"[1] Nome paciente - Unidade - Procedimento - Data/Hora\"\n  - AGUARDE o usuário escolher o NÚMERO ou procedimento ou data/hora\n  - NUNCA prossiga sem confirmação específica de QUAL cancelar\n- SEMPRE confirme ANTES de cancelar:\n  - MOSTRE: \"Confirma cancelamento de [procedimento] em [data/hora]?\"\n  - SOMENTE execute `cancela_agendamento` após confirmação explícita\n\n### Reagendamento\n- Se o usuário pedir reagendamento, notifique que ele deverá cancelar o agendamento e criar um novo\n- NUNCA tente realizar reagendamento direto\n- Realize o cancelamento passando o parâmetro \"reagendamento = true\"\n- Após cancelar, comece novo fluxo de agendamento pedindo: Unidade, Procedimento, Data e Hora\n\n### ⚠️ Crítico\n* **NUNCA** peça \"um momento\" ou similar** - mantenha o fluxo natural"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.8,
        "position": [
          752,
          272
        ],
        "id": "4a116073-ca0b-4c3b-855e-c5c88888b236",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "description": "=Use esta ferramenta para determinar:\n- a data que o usuário solicitar, com base na data atual:  {{ new Date().toLocaleString(\"pt-br\", {  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false }) }}.\n- se o fluxo de cancelamento foi executado"
        },
        "type": "@n8n/n8n-nodes-langchain.toolThink",
        "typeVersion": 1.1,
        "position": [
          480,
          496
        ],
        "id": "c7d13ab9-8eae-48b3-a2d9-b67f65ffa493",
        "name": "Think"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "fb44445d-7744-4b7e-9026-be8fd2ff6934",
                "leftValue": "={{ $json.result.session.transferido_para_humano }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -16,
          256
        ],
        "id": "59339709-c1cd-400b-b222-c54482d0f55c",
        "name": "IF transferido_para_humano"
      },
      {
        "parameters": {
          "description": "Utilize essa ferramenta quando EXPLICITAMENTE o cliente quiser falar com uma pessoa humana ou falar por ligação.",
          "workflowId": {
            "__rl": true,
            "value": "I4PwOZXGMkOniWij",
            "mode": "list",
            "cachedResultUrl": "/workflow/I4PwOZXGMkOniWij",
            "cachedResultName": "Falar com Humano"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "telefone": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.telefone }}"
            },
            "matchingColumns": [
              "telefone"
            ],
            "schema": [
              {
                "id": "telefone",
                "displayName": "telefone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          1664,
          688
        ],
        "id": "7043f559-4df8-4af8-87da-5545f9455506",
        "name": "falar_com_humano"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "11422931-70d4-467e-a25b-815d82d6eb43",
                "leftValue": "={{ $json.propertyName.map(item => JSON.parse(item.replace(/^=/, ''))).sort((a, b) => new Date(a.timestamp) - new Date(b.timestamp)).pop().message }}",
                "rightValue": "={{ $('SET mensagem').last().json.mensagem }}",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -976,
          352
        ],
        "id": "6e32e307-ba8a-4890-a802-5ede399e1144",
        "name": "IF nova mensagem recebida"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9b992a80-e353-45d7-86fe-855d8a621ed9",
                "name": "message",
                "value": "={{ $('Limpa a fila de mensagens').item.json.propertyName.join(\"\\n\") }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -512,
          256
        ],
        "id": "72b7b0bd-f802-41d7-9ae4-84b3f9fd73d5",
        "name": "mensagem_concatenada"
      },
      {
        "parameters": {
          "operation": "get",
          "key": "={{ $('SET telefone').last().json.telefone }}_{{ $now.format('dd-MM-yyyy') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -1184,
          352
        ],
        "id": "0437e90b-972f-45de-89d7-35e8cf8c5768",
        "name": "GET Mensagem Buffer",
        "credentials": {
          "redis": {
            "id": "09S5reMQREDFaZPt",
            "name": "Redis n8n"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b06b399e-ee7a-4a50-99a8-463a0e70199f",
                "name": "mensagem",
                "value": "={{ $('When chat message received').last().json.chatInput }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1952,
          352
        ],
        "id": "39c4a86b-6330-4731-88ac-9ac81d545027",
        "name": "SET mensagem"
      },
      {
        "parameters": {
          "operation": "delete",
          "key": "={{ $('SET telefone').last().json.telefone }}_{{ $now.format('dd-MM-yyyy') }}"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -752,
          256
        ],
        "id": "b5965d30-a16c-43b0-b3f4-c68d67af8ea2",
        "name": "Limpa a fila de mensagens",
        "credentials": {
          "redis": {
            "id": "09S5reMQREDFaZPt",
            "name": "Redis n8n"
          }
        }
      },
      {
        "parameters": {
          "operation": "push",
          "list": "={{ $('SET telefone').last().json.telefone }}_{{ $now.format('dd-MM-yyyy') }}",
          "messageData": "={{ JSON.stringify({\n      timestamp: new Date().toISOString(),\n      message: $('SET mensagem').last().json.mensagem \n    }) }}",
          "tail": true
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -1664,
          352
        ],
        "id": "a1d0dad8-8ece-495c-8a56-50edf466cbb2",
        "name": "Adiciona na fila",
        "credentials": {
          "redis": {
            "id": "09S5reMQREDFaZPt",
            "name": "Redis n8n"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -752,
          464
        ],
        "id": "8defffbc-9b9c-4498-9765-4ae81dfc37ed",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "amount": 10
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -1408,
          352
        ],
        "id": "b44c8032-6db4-4bfa-8ad3-7382078cf458",
        "name": "Wait",
        "webhookId": "4bac7c74-b865-4f6d-b514-a6a8b6f8ea42",
        "disabled": true
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -2896,
          688
        ],
        "id": "04a08ba5-d163-42e5-881a-3697c5f86cdb",
        "name": "Webhook Evo"
      },
      {
        "parameters": {
          "description": "=SEMPRE utilize essa ferramenta para atualizar os dados do paciente a cada resposta obtida para as perguntas:\n\n- Nome completo\n- Convênio\n- Dentista que indicou\n- Unidade\n- Procedimento\n- Data\n\nSEMPRE utilize o valor coletado sem formatação e NUNCA invente valores para os campos.\n\nSE o usuário mostrou intenção de falar com um \"agente humano\", \"atendente\", \"pessoa real\", \"médico\", passe o valor `falar_com_humano` = true",
          "workflowId": {
            "__rl": true,
            "value": "ysnhHcfKAcnFShkM",
            "mode": "list",
            "cachedResultUrl": "/workflow/ysnhHcfKAcnFShkM",
            "cachedResultName": "Cadastro Usuário V5 | EasyAppointments"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "telefone": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.telefone}}",
              "procedimento": "={{ $fromAI('procedimento', `O tipo de procedimento/exame solicitado pelo usuário`, 'string', 'nao_informado') }}",
              "nome": "={{ $fromAI('nome', `Utilize esse campo para preencher o nome completo da pessoa`, 'string', 'nao_informado' ) }}",
              "unidade": "={{ $fromAI('unidade', `Utilize esse campo para preencher o ID da unidade que a pessoa escolher. Utilize somente o número associado com a respectiva unidade.`, 'string', 'nao_informado' ) }}",
              "data_agendamento": "={{ $fromAI('data_agendamento', `Somente a data escolhida pelo usuário no formato yyyy-MM-dd.`, 'string', 'nao_informado') }}",
              "is_dentista": "={{ $fromAI('is_dentista', 'Utilize esse campo caso o cliente queira falar com humano para determinar se o cliente é um dentista ou não', 'boolean', false)}}",
              "falar_com_humano": "={{ $fromAI('falar_com_humano', `Se o usuario deseja falar com um humano`, 'boolean', false) }}",
              "convenio": "={{ $fromAI('convenio', `Utilize esse campo para preencher o nome do convênio da pessoa, ou Particular.`, 'string', 'nao_informado' ) }}",
              "dentista": "={{ $fromAI('dentista', `Utilize esse campo para preencher o nome do dentista que indicou a pessoa, ou preencha com 'Ninguém' caso não tenha sido indicada por nenhum dentista.`, 'string', 'nao_informado') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "telefone",
                "displayName": "telefone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "nome",
                "displayName": "nome",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "convenio",
                "displayName": "convenio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "unidade",
                "displayName": "unidade",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "procedimento",
                "displayName": "procedimento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "data_agendamento",
                "displayName": "data_agendamento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "is_dentista",
                "displayName": "is_dentista",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "boolean",
                "removed": false
              },
              {
                "id": "falar_com_humano",
                "displayName": "falar_com_humano",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "boolean",
                "removed": false
              },
              {
                "id": "dentista",
                "displayName": "dentista",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          864,
          688
        ],
        "id": "503e9a20-714f-4825-8bb7-1562400c63c8",
        "name": "atualiza_dados"
      }
    ],
    "connections": {
      "When chat message received": {
        "main": [
          [
            {
              "node": "SET telefone",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "SET telefone": {
        "main": [
          [
            {
              "node": "IF trigger delete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          []
        ]
      },
      "DELETE user_session, conversation_state, leads": {
        "main": [
          [
            {
              "node": "GET customer if exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF trigger delete": {
        "main": [
          [
            {
              "node": "DELETE user_session, conversation_state, leads",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SET mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CREATE & SELECT cliente & user_session": {
        "main": [
          [
            {
              "node": "IF transferido_para_humano",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "criar_agendamento": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "verifica_disponibilidade_agenda": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "SELECT sessao_agendamento": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET customer if exists": {
        "main": [
          [
            {
              "node": "DELETE test customer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "consulta_agendamento": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "cancela_agendamento": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Think": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "IF transferido_para_humano": {
        "main": [
          [],
          [
            {
              "node": "SELECT sessao_agendamento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "falar_com_humano": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "IF nova mensagem recebida": {
        "main": [
          [
            {
              "node": "Limpa a fila de mensagens",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET Mensagem Buffer": {
        "main": [
          [
            {
              "node": "IF nova mensagem recebida",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SET mensagem": {
        "main": [
          [
            {
              "node": "Adiciona na fila",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limpa a fila de mensagens": {
        "main": [
          [
            {
              "node": "mensagem_concatenada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Adiciona na fila": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "GET Mensagem Buffer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "mensagem_concatenada": {
        "main": [
          [
            {
              "node": "CREATE & SELECT cliente & user_session",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          []
        ]
      },
      "Webhook Evo": {
        "main": [
          []
        ]
      },
      "atualiza_dados": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "92f14ae8-afa7-4c23-8149-e040f584f996",
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "SET telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SET telefone": {
      "main": [
        [
          {
            "node": "IF trigger delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "DELETE user_session, conversation_state, leads": {
      "main": [
        [
          {
            "node": "GET customer if exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF trigger delete": {
      "main": [
        [
          {
            "node": "DELETE user_session, conversation_state, leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREATE & SELECT cliente & user_session": {
      "main": [
        [
          {
            "node": "IF transferido_para_humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criar_agendamento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "verifica_disponibilidade_agenda": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SELECT sessao_agendamento": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET customer if exists": {
      "main": [
        [
          {
            "node": "DELETE test customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consulta_agendamento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cancela_agendamento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "IF transferido_para_humano": {
      "main": [
        [],
        [
          {
            "node": "SELECT sessao_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "falar_com_humano": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "IF nova mensagem recebida": {
      "main": [
        [
          {
            "node": "Limpa a fila de mensagens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Mensagem Buffer": {
      "main": [
        [
          {
            "node": "IF nova mensagem recebida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET mensagem": {
      "main": [
        [
          {
            "node": "Adiciona na fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpa a fila de mensagens": {
      "main": [
        [
          {
            "node": "mensagem_concatenada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona na fila": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "GET Mensagem Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem_concatenada": {
      "main": [
        [
          {
            "node": "CREATE & SELECT cliente & user_session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Webhook Evo": {
      "main": [
        []
      ]
    },
    "atualiza_dados": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-13T14:11:05.107Z",
  "id": "u6DfwRckAn3dzoxp",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agente Garage 2",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -2896,
        336
      ],
      "id": "73106eb2-c1d4-43f9-b78e-f49f885ad08a",
      "name": "When chat message received",
      "webhookId": "0e9f3e5c-47c1-4336-844c-955c5f9335c9",
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.session.session_id }}",
        "tableName": "ortho_x_chat_histories",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        624,
        496
      ],
      "id": "6eadef73-105a-4c82-b032-ce5d6f8686bb",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        496
      ],
      "id": "c982712f-5c44-430f-9ab1-d632d7bb5591",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ER0I3fZmmkBwmDBr",
          "name": "OpenAi ni.automacoes"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b12249d9-c3b0-40dc-a332-cc509fae1922",
              "name": "telefone",
              "value": "=19996004221",
              "type": "string"
            },
            {
              "id": "0069d741-de73-40c2-9947-38b742d0d8b9",
              "name": "chatInput",
              "value": "={{ $('When chat message received').last().json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2624,
        336
      ],
      "id": "27469036-20a0-4a41-b798-b79c2c50cb81",
      "name": "SET telefone"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2896,
        512
      ],
      "id": "a808da8f-4a6d-4caa-9c44-5cec207705c2",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DO $$\nDECLARE\n  target_phone text := '{{ $('SET telefone').last().json.telefone }}';\nBEGIN\n  -- Step 1: Delete from user_session\n  DELETE FROM public.user_session\n  WHERE telefone = target_phone;\n\n  -- Step 1: Delete from sessao_agendamento\n  DELETE FROM public.sessao_agendamento\n  WHERE telefone = target_phone;\n\n  -- Step 2: Delete from cliente\n  DELETE FROM public.cliente\n  WHERE telefone = target_phone;\n\nEND $$;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1952,
        32
      ],
      "id": "f98c89ae-6f69-4ab0-8ff9-41b1fe204bcc",
      "name": "DELETE user_session, conversation_state, leads",
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7173483a-a3cc-4e35-9dd7-4f181216d247",
              "leftValue": "={{ $('When chat message received').last().json.chatInput }}",
              "rightValue": "##delete",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2272,
        336
      ],
      "id": "6cc4d47f-0e36-4c49-ad85-b06e5c28244b",
      "name": "IF trigger delete"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH existing_cliente AS (\n    SELECT *\n    FROM public.cliente\n    WHERE telefone = '{{ $('SET telefone').last().json.telefone }}'\n    LIMIT 1\n), inserted_cliente AS (\n    INSERT INTO public.cliente (telefone)\n    SELECT '{{ $('SET telefone').last().json.telefone }}'\n    WHERE NOT EXISTS (SELECT 1 FROM existing_cliente)\n    RETURNING *\n), final_cliente AS (\n    SELECT * FROM existing_cliente\n    UNION ALL\n    SELECT * FROM inserted_cliente\n), cliente_with_session AS (\n    SELECT \n        f.*,\n        s.session_id,\n        s.precisa_saudar,\n        us.transferido_para_humano,\n        us.id_agente_humano\n    FROM final_cliente f\n    CROSS JOIN LATERAL get_or_create_session(f.telefone) s\n    LEFT JOIN public.user_session us\n    ON us.id = s.session_id\n)\nSELECT json_build_object(\n    'cliente', to_jsonb(f) - 'session_id' - 'precisa_saudar' - 'transferido_para_humano' - 'id_agente_humano',\n    'session', json_build_object(\n        'session_id', f.session_id,\n        'precisa_saudar', f.precisa_saudar,\n        'transferido_para_humano', f.transferido_para_humano,\n        'id_agente_humano', f.id_agente_humano\n    )\n) AS result\nFROM cliente_with_session f;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -256,
        256
      ],
      "id": "ba16e712-6d6d-4d3c-a5a2-c198bcb662ee",
      "name": "CREATE & SELECT cliente & user_session",
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      }
    },
    {
      "parameters": {
        "description": "=Chame esta ferramenta para criar um agendamento.",
        "workflowId": {
          "__rl": true,
          "value": "QdM1vovkWoQMSLtF",
          "mode": "list",
          "cachedResultUrl": "/workflow/QdM1vovkWoQMSLtF",
          "cachedResultName": "Agendamento V2 | Easy Appointments"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_usuario": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.id_usuario }}",
            "telefone": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.telefone }}",
            "hora": "={{ $fromAI('hora', `Utilize esse campo para o horário do procedimento no formato hh:mm:ss`, 'string', 'nao_informado') }}",
            "nome_paciente": "={{ $fromAI('nome_paciente', `Utilize esse campo para o nome do paciente`, 'string', 'nao_informado') }}",
            "session_id": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.session.session_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_usuario",
              "displayName": "id_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome_paciente",
              "displayName": "nome_paciente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        688,
        688
      ],
      "id": "46a32f59-de6e-484d-9286-89513f00b691",
      "name": "criar_agendamento"
    },
    {
      "parameters": {
        "description": "=Chame esta ferramenta para vefiricar os horários disponíveis após o usuário informar nome e data, horário e o procedimento.",
        "workflowId": {
          "__rl": true,
          "value": "MQZxGZkhiSk4BXLK",
          "mode": "list",
          "cachedResultUrl": "/workflow/MQZxGZkhiSk4BXLK",
          "cachedResultName": "Busca Disponibilidade| Easy Appointments"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.telefone }}",
            "hora": "={{ $fromAI('hora', `Utilize esse campo para o horário do procedimento`, 'string', 'nao_informado') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1056,
        688
      ],
      "id": "f61bc7e8-2cf7-4d62-a959-0178c6126135",
      "name": "verifica_disponibilidade_agenda"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "sessao_agendamento",
          "mode": "list",
          "cachedResultName": "sessao_agendamento"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.telefone }}"
            },
            {
              "column": "deletado",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        256,
        272
      ],
      "id": "ee82fb85-10bd-4e58-9f22-5e11ed7ce6f0",
      "name": "SELECT sessao_agendamento",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://orthox-easyappointments.reyhdo.easypanel.host/index.php/api/v1/customers",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=19998210119"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXV0b21hY29lcy5vcnRob3hAZ21haWwuY29tOnJ0azZyeWNAUUhEKm56djB6bW4="
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1696,
        32
      ],
      "id": "fbf5d72a-19ba-4cd6-9258-f6504976a7c2",
      "name": "GET customer if exists",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://orthox-easyappointments.reyhdo.easypanel.host/index.php/api/v1/customers/{{ $('GET customer if exists').last().json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXV0b21hY29lcy5vcnRob3hAZ21haWwuY29tOnJ0azZyeWNAUUhEKm56djB6bW4="
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1456,
        32
      ],
      "id": "1ac36043-0b45-4af5-9aac-c3e4fd75fc48",
      "name": "DELETE test customer",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "description": "Consulta agendamentos existentes do cliente. Use para verificar, listar ou obter detalhes de agendamentos já confirmados pelo cliente.",
        "workflowId": {
          "__rl": true,
          "value": "lDKIAPPZxKs173gl",
          "mode": "list",
          "cachedResultUrl": "/workflow/lDKIAPPZxKs173gl",
          "cachedResultName": "EasyAppointments | Consulta Agendamento"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_usuario": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.id_usuario }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_usuario",
              "displayName": "id_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cliente_solicita",
              "displayName": "cliente_solicita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1264,
        688
      ],
      "id": "ef33637d-0fe5-4507-abce-efe88932837f",
      "name": "consulta_agendamento"
    },
    {
      "parameters": {
        "description": "Cancela agendamentos existentes do cliente. Use para cancelar agendamentos já confirmados, passe \"reagendamento = true\" caso o cliente queira reagendar.",
        "workflowId": {
          "__rl": true,
          "value": "0O6y5NDvNkKnkHWl",
          "mode": "list",
          "cachedResultUrl": "/workflow/0O6y5NDvNkKnkHWl",
          "cachedResultName": "Cancelar Agendamento | EasyAppointments"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_usuario": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.id_usuario }}",
            "data_agendada": "={{ $fromAI('data_agendada', `data e hora da consulta agendada que deseja cancelar em formato YYYY-mm-dd hh:mm:ss`, 'string') }}",
            "nome_paciente": "={{ $fromAI('nome_paciente', `O nome completo do paciente.`, 'string') }}",
            "session_id": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.session.session_id }}",
            "reagendamento": "={{ $fromAI('reagendamento', `true se estiver fazendo reagendamento`, 'boolean', false) }}",
            "telefone": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.telefone }}"
          },
          "matchingColumns": [
            "info_cancelamento"
          ],
          "schema": [
            {
              "id": "id_usuario",
              "displayName": "id_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_agendada",
              "displayName": "data_agendada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome_paciente",
              "displayName": "nome_paciente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "reagendamento",
              "displayName": "reagendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1472,
        688
      ],
      "id": "fe1c3166-4be4-46c2-b101-b627590ac0a4",
      "name": "cancela_agendamento"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('mensagem_concatenada').last().json.message }}",
        "options": {
          "systemMessage": "=Você é um assistente de inteligência artificial chamada Bia, uma agente especializada em tirar dúvidas e realizar o agendamento de consultas para a clínica OrthoX. Sua missão é responder aos clientes pelo WhatsApp e guiá-los até a marcação da consulta.\n\n## Objetivo\nSeu objetivo principal é conseguir as seguintes informações antes de consultar ou realizar um agendamento.\n\n{{\n  (() => {\n    const cliente = $('CREATE & SELECT cliente & user_session').last().json.result.cliente;\n    const sessao_agendamento = $('SELECT sessao_agendamento').last().json;\n\n    return `\nTelefone: ${\n        cliente?.telefone\n          ? `Informação já obtida (${cliente.telefone})`\n          : 'Solicite para a pessoa o telefone'\n      }\nNome: ${\n        cliente?.nome\n          ? `Informação já obtida, NÃO perguntar novamente (${cliente.nome})`\n          : '* **PRIMEIRA PERGUNTA OBRIGATÓRIA**: \"Qual seu nome?\" (para identificar quem está falando)'\n      }\nConvenio: ${\n        sessao_agendamento?.convenio\n          ? `Informação já obtida (${sessao_agendamento.convenio})`\n          : 'SEMPRE solicite para a pessoa se é por convênio ou particular, SE for por convênio, solicite o nome do convênio'\n      }\nDentista indicou: ${\n        sessao_agendamento?.dentista\n          ? `Informação já obtida (${sessao_agendamento.dentista})`\n          : 'SEMPRE solicite para a pessoa se foi indicada por algum dentista, SE sim, solicite o nome do dentista'\n      }\nUnidade: ${\n        sessao_agendamento?.unidade_id\n          ? `Informação já obtida (${sessao_agendamento.unidade_id})`\n          : 'SEMPRE solicite para a pessoa a unidade'\n      }\nProcedimento: ${\n        sessao_agendamento?.servico_id\n          ? sessao_agendamento.servico_id != \"undefined\" ? `Informação já obtida (${sessao_agendamento.servico_id})` : 'SEMPRE solicite para a pessoa o procedimento/exame desejado, podendo ser enviado via texto ou foto'\n          : 'SEMPRE solicite para a pessoa o procedimento/exame desejado, podendo ser enviado via texto ou foto'\n      }\nData Agendamento: ${\n        sessao_agendamento?.data_agendamento\n          ? `Informação já obtida (${sessao_agendamento.data_agendamento})`\n          : 'Solicite para a pessoa a data desejada'\n      }`;\n  })()\n}}\n\n## FLUXO OBRIGATÓRIO DE FERRAMENTAS (EXECUTAR NA ORDEM)\n\n### Fase 1 - Coleta de Dados:\n1. SEMPRE que receber Nome → EXECUTE `atualiza_dados` IMEDIATAMENTE\n2. SEMPRE que receber Convenio → EXECUTE `atualiza_dados` IMEDIATAMENTE  \n3. SEMPRE que receber Unidade → EXECUTE `atualiza_dados` IMEDIATAMENTE  \n4. SEMPRE que receber Procedimento → EXECUTE `atualiza_dados` IMEDIATAMENTE\n   - CORRIJA a ortografia SOMENTE do Procedimento antes de atualizar\n\n### Fase 2 - Disponibilidade:\n4. SOMENTE APÓS ter Nome + Unidade + Procedimento coletados:\n   - Pergunte qual dia o usuário gostaria de agendar\n   - **SEMPRE** utilize a ferramenta `Think` para determinar o dia corretamente\n   - Quando usuário informar data agendamento → EXECUTE `atualiza_dados` IMEDIATAMENTE\n   - Após executar `atualiza_dados` → EXECUTE `verifica_disponibilidade_agenda`\n   - NUNCA sugira horários sem executar esta ferramenta\n\n### Fase 3 - Consulta:\n5. Para CONSULTAR agendamentos → EXECUTE `consulta_agendamento`\n   - NUNCA use informações de memória/histórico/chat history para listar agendamentos\n\n### Fase 4 - Ação Final:\n6. Para CRIAR agendamento → EXECUTE `criar_agendamento`\n7. Para CANCELAR → EXECUTE `consulta_agendamento` PRIMEIRO, DEPOIS `cancela_agendamento`\n   - **SEMPRE** utilize a ferramenta `Think` para determinar se completou o fluxo de cancelamento\n\n## GATILHOS AUTOMÁTICOS DE FERRAMENTAS\n\nEXECUTE IMEDIATAMENTE (sem avisar o usuário):\n- Nome recebido → `atualiza_dados`\n- Convênio recebido → `atualiza_dados`\n- Dentista recebido → `atualiza_dados`\n- Unidade e Procedimento informados → `atualiza_dados`\n- Data/horário solicitado → `verifica_disponibilidade_agenda`\n- Pedido de cancelamento → `consulta_agendamento`\n- Pedido de consulta de agendamentos → `consulta_agendamento`\n- Confirmação de agendamento → `criar_agendamento`\n- Confirmação de cancelamento → `cancela_agendamento`\n- Solicitar falar com um \"agente humano\", \"atendente\", \"pessoa real\", \"médico\" → `falar_com_humano`\n\n## BLOQUEIOS OBRIGATÓRIOS\n\n- **NUNCA** sugira horários sem executar `verifica_disponibilidade_agenda`\n- **NUNCA** mostre agendamentos sem executar `consulta_agendamento`\n- **NUNCA** crie agendamento sem confirmação explícita do usuário\n- **NUNCA** cancele sem primeiro executar `consulta_agendamento`\n- **NUNCA** use informações de memória/histórico/chat history para disponibilidades\n- **NUNCA** execute múltiplas operações simultâneas (crie/cancele APENAS um por vez)\n- **NUNCA** faça duas perguntas em uma única mensagem\n- **NUNCA** pause a conversa ou peça \"um momento\"\n- **NUNCA** anuncie ao usuário que vai usar ferramentas\n\nSEMPRE BLOQUEIE E PEÇA INFO SE:\n- Faltam dados obrigatórios para a ferramenta\n- Usuário não confirmou explicitamente a ação\n- Horário solicitado não está disponível (ofereça o próximo disponível)\n\n## USO OBRIGATÓRIO DE RESPOSTAS DAS FERRAMENTAS\n\nApós executar ferramenta:\n1. USE APENAS o campo 'response' da ferramenta como base da resposta\n2. NUNCA invente ou adicione informações não retornadas pela ferramenta\n3. Se sucesso → prossiga IMEDIATAMENTE com próxima pergunta pendente\n\n## Diretrizes de Conversação\n\n* SEMPRE apresente-se dizendo seu nome e a sua função de maneira cordial\n* APÓS obter o nome do usuário, prossiga com outras informações\n* Aguarde a resposta antes de seguir para a próxima pergunta\n* Utilize a data de hoje para se orientar: {{ new Date().toLocaleString(\"pt-br\", {  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false }) }}\n* Você sempre receberá o dia e horário atuais; a partir daí, identifique datas como amanhã, depois de amanhã, semana que vem, mês que vem, ano que vem\n* NUNCA invente respostas\n* **NUNCA peça \"um momento\" ou similar** - mantenha o fluxo natural\n* NUNCA utilize emojis\n* Mantenha o tom prestativo ao longo de toda a conversa\n* Evite repetir o nome da pessoa em toda resposta. Use de forma natural, quando necessário\n\n## Unidades\n- Se o usuário escolher a unidade de São Bernando do Campo (SBC) o id da unidade = 1\n- Se o usuário escolher a unidade de Diadema o id da unidade = 2\n- Se o usuário escolher a unidade Premium o id da unidade = 3\n- Se o usuário escolher a unidade de Santo André o id da unidade = 4\n- **Se o usuário estiver utilizando convênio, não ofereça a opção da unidade Premium**\n- **Mostre a unidade Premium se o usuário fizer por Particular**\n\n## Identificação do Paciente\n\n**FLUXO OBRIGATÓRIO:**\n- **SEMPRE PERGUNTE**: \"Este agendamento é para você ou para outra pessoa?\"\n\n**Se for para outra pessoa:**\n- Colete: \"Qual o nome completo da pessoa para o agendamento?\"\n- **IMPORTANTE**: NUNCA use `atualiza_dados` para o nome do paciente\n\n**Se for para o próprio usuário:**\n- Utilize o Nome já coletado\n\n## Fluxo de Coleta (IMPORTANTE)\nQuando receber uma informação do usuário:\n1. Use a ferramenta necessária SEM avisar\n2. IMEDIATAMENTE faça a próxima pergunta pendente\n3. NUNCA pause a conversa para \"atualizar\" ou \"registrar\"\n\n## Progresso Parcial\nSe o cliente fornecer apenas parte dos dados:\n- Agradeça brevemente E faça a próxima pergunta na MESMA mensagem\n- Exemplo: \"Perfeito! Agora, qual seu nome completo?\"\n\n## Procedimentos Específicos\n\n### Cancelamento\n- Nome recebido com pedido de cancelamento → EXECUTE `consulta_agendamento` IMEDIATAMENTE\n- SEMPRE liste TODOS os agendamentos numericamente após executar `consulta_agendamento`\n- QUANDO houver múltiplos agendamentos:\n  - LISTE: \"[1] Nome paciente - Unidade - Procedimento - Data/Hora\"\n  - AGUARDE o usuário escolher o NÚMERO ou procedimento ou data/hora\n  - NUNCA prossiga sem confirmação específica de QUAL cancelar\n- SEMPRE confirme ANTES de cancelar:\n  - MOSTRE: \"Confirma cancelamento de [procedimento] em [data/hora]?\"\n  - SOMENTE execute `cancela_agendamento` após confirmação explícita\n\n### Reagendamento\n- Se o usuário pedir reagendamento, notifique que ele deverá cancelar o agendamento e criar um novo\n- NUNCA tente realizar reagendamento direto\n- Realize o cancelamento passando o parâmetro \"reagendamento = true\"\n- Após cancelar, comece novo fluxo de agendamento pedindo: Unidade, Procedimento, Data e Hora\n\n### ⚠️ Crítico\n* **NUNCA** peça \"um momento\" ou similar** - mantenha o fluxo natural"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        752,
        272
      ],
      "id": "4a116073-ca0b-4c3b-855e-c5c88888b236",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "description": "=Use esta ferramenta para determinar:\n- a data que o usuário solicitar, com base na data atual:  {{ new Date().toLocaleString(\"pt-br\", {  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false }) }}.\n- se o fluxo de cancelamento foi executado"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        480,
        496
      ],
      "id": "c7d13ab9-8eae-48b3-a2d9-b67f65ffa493",
      "name": "Think"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb44445d-7744-4b7e-9026-be8fd2ff6934",
              "leftValue": "={{ $json.result.session.transferido_para_humano }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        256
      ],
      "id": "59339709-c1cd-400b-b222-c54482d0f55c",
      "name": "IF transferido_para_humano"
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta quando EXPLICITAMENTE o cliente quiser falar com uma pessoa humana ou falar por ligação.",
        "workflowId": {
          "__rl": true,
          "value": "I4PwOZXGMkOniWij",
          "mode": "list",
          "cachedResultUrl": "/workflow/I4PwOZXGMkOniWij",
          "cachedResultName": "Falar com Humano"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.telefone }}"
          },
          "matchingColumns": [
            "telefone"
          ],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1664,
        688
      ],
      "id": "7043f559-4df8-4af8-87da-5545f9455506",
      "name": "falar_com_humano"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "11422931-70d4-467e-a25b-815d82d6eb43",
              "leftValue": "={{ $json.propertyName.map(item => JSON.parse(item.replace(/^=/, ''))).sort((a, b) => new Date(a.timestamp) - new Date(b.timestamp)).pop().message }}",
              "rightValue": "={{ $('SET mensagem').last().json.mensagem }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -976,
        352
      ],
      "id": "6e32e307-ba8a-4890-a802-5ede399e1144",
      "name": "IF nova mensagem recebida"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b992a80-e353-45d7-86fe-855d8a621ed9",
              "name": "message",
              "value": "={{ $('Limpa a fila de mensagens').item.json.propertyName.join(\"\\n\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        256
      ],
      "id": "72b7b0bd-f802-41d7-9ae4-84b3f9fd73d5",
      "name": "mensagem_concatenada"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('SET telefone').last().json.telefone }}_{{ $now.format('dd-MM-yyyy') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1184,
        352
      ],
      "id": "0437e90b-972f-45de-89d7-35e8cf8c5768",
      "name": "GET Mensagem Buffer",
      "credentials": {
        "redis": {
          "id": "09S5reMQREDFaZPt",
          "name": "Redis n8n"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b06b399e-ee7a-4a50-99a8-463a0e70199f",
              "name": "mensagem",
              "value": "={{ $('When chat message received').last().json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1952,
        352
      ],
      "id": "39c4a86b-6330-4731-88ac-9ac81d545027",
      "name": "SET mensagem"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('SET telefone').last().json.telefone }}_{{ $now.format('dd-MM-yyyy') }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -752,
        256
      ],
      "id": "b5965d30-a16c-43b0-b3f4-c68d67af8ea2",
      "name": "Limpa a fila de mensagens",
      "credentials": {
        "redis": {
          "id": "09S5reMQREDFaZPt",
          "name": "Redis n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('SET telefone').last().json.telefone }}_{{ $now.format('dd-MM-yyyy') }}",
        "messageData": "={{ JSON.stringify({\n      timestamp: new Date().toISOString(),\n      message: $('SET mensagem').last().json.mensagem \n    }) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1664,
        352
      ],
      "id": "a1d0dad8-8ece-495c-8a56-50edf466cbb2",
      "name": "Adiciona na fila",
      "credentials": {
        "redis": {
          "id": "09S5reMQREDFaZPt",
          "name": "Redis n8n"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -752,
        464
      ],
      "id": "8defffbc-9b9c-4498-9765-4ae81dfc37ed",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1408,
        352
      ],
      "id": "b44c8032-6db4-4bfa-8ad3-7382078cf458",
      "name": "Wait",
      "webhookId": "4bac7c74-b865-4f6d-b514-a6a8b6f8ea42",
      "disabled": true
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2896,
        688
      ],
      "id": "04a08ba5-d163-42e5-881a-3697c5f86cdb",
      "name": "Webhook Evo"
    },
    {
      "parameters": {
        "description": "=SEMPRE utilize essa ferramenta para atualizar os dados do paciente a cada resposta obtida para as perguntas:\n\n- Nome completo\n- Convênio\n- Dentista que indicou\n- Unidade\n- Procedimento\n- Data\n\nSEMPRE utilize o valor coletado sem formatação e NUNCA invente valores para os campos.\n\nSE o usuário mostrou intenção de falar com um \"agente humano\", \"atendente\", \"pessoa real\", \"médico\", passe o valor `falar_com_humano` = true",
        "workflowId": {
          "__rl": true,
          "value": "ysnhHcfKAcnFShkM",
          "mode": "list",
          "cachedResultUrl": "/workflow/ysnhHcfKAcnFShkM",
          "cachedResultName": "Cadastro Usuário V5 | EasyAppointments"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.telefone}}",
            "procedimento": "={{ $fromAI('procedimento', `O tipo de procedimento/exame solicitado pelo usuário`, 'string', 'nao_informado') }}",
            "nome": "={{ $fromAI('nome', `Utilize esse campo para preencher o nome completo da pessoa`, 'string', 'nao_informado' ) }}",
            "unidade": "={{ $fromAI('unidade', `Utilize esse campo para preencher o ID da unidade que a pessoa escolher. Utilize somente o número associado com a respectiva unidade.`, 'string', 'nao_informado' ) }}",
            "data_agendamento": "={{ $fromAI('data_agendamento', `Somente a data escolhida pelo usuário no formato yyyy-MM-dd.`, 'string', 'nao_informado') }}",
            "is_dentista": "={{ $fromAI('is_dentista', 'Utilize esse campo caso o cliente queira falar com humano para determinar se o cliente é um dentista ou não', 'boolean', false)}}",
            "falar_com_humano": "={{ $fromAI('falar_com_humano', `Se o usuario deseja falar com um humano`, 'boolean', false) }}",
            "convenio": "={{ $fromAI('convenio', `Utilize esse campo para preencher o nome do convênio da pessoa, ou Particular.`, 'string', 'nao_informado' ) }}",
            "dentista": "={{ $fromAI('dentista', `Utilize esse campo para preencher o nome do dentista que indicou a pessoa, ou preencha com 'Ninguém' caso não tenha sido indicada por nenhum dentista.`, 'string', 'nao_informado') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "convenio",
              "displayName": "convenio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "unidade",
              "displayName": "unidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "procedimento",
              "displayName": "procedimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data_agendamento",
              "displayName": "data_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "is_dentista",
              "displayName": "is_dentista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "falar_com_humano",
              "displayName": "falar_com_humano",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "dentista",
              "displayName": "dentista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        864,
        688
      ],
      "id": "503e9a20-714f-4825-8bb7-1562400c63c8",
      "name": "atualiza_dados"
    }
  ],
  "pinData": {
    "Webhook Evo": [
      {
        "json": {
          "headers": {
            "host": "orthox-n8n.reyhdo.easypanel.host",
            "user-agent": "axios/1.12.2",
            "content-length": "1191",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "orthox-n8n.reyhdo.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "bcfaa6f85db2",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "celclaroinstance",
            "data": {
              "key": {
                "remoteJid": "5519998210119@s.whatsapp.net",
                "remoteJidAlt": "62646544027758:81@lid",
                "fromMe": false,
                "id": "3F51E8599C02A41416A9"
              },
              "pushName": "Flavio",
              "status": "DELIVERY_ACK",
              "message": {
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "senderKeyHash": {
                      "0": 109,
                      "1": 216,
                      "2": 21,
                      "3": 234,
                      "4": 207,
                      "5": 128,
                      "6": 183,
                      "7": 205,
                      "8": 232,
                      "9": 5
                    },
                    "senderTimestamp": 1758921922,
                    "recipientKeyHash": {
                      "0": 233,
                      "1": 47,
                      "2": 225,
                      "3": 80,
                      "4": 64,
                      "5": 42,
                      "6": 91,
                      "7": 100,
                      "8": 99,
                      "9": 95
                    },
                    "recipientTimestamp": 1759244322
                  },
                  "deviceListMetadataVersion": 2
                },
                "conversation": "##delete"
              },
              "contextInfo": {
                "mentionedJid": [],
                "groupMentions": [],
                "expiration": 0,
                "ephemeralSettingTimestamp": 0,
                "disappearingMode": {
                  "initiator": 0
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1760035469,
              "instanceId": "fc9c8186-c5f9-40b9-881f-de8cd7e086bc",
              "source": "desktop"
            },
            "destination": "https://orthox-n8n.reyhdo.easypanel.host/webhook/agente-master-v3",
            "date_time": "2025-10-09T15:44:29.251Z",
            "sender": "5519995785753@s.whatsapp.net",
            "server_url": "https://orthox-evolution-api.reyhdo.easypanel.host",
            "apikey": "CC95368F7147-4103-9ABD-EFDE2A81A24B"
          },
          "webhookUrl": "https://orthox-n8n.reyhdo.easypanel.host/webhook/agente-master-v3",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "xMZ12MFm8IYta9IH"
  },
  "shared": [
    {
      "updatedAt": "2025-10-13T14:11:05.111Z",
      "createdAt": "2025-10-13T14:11:05.111Z",
      "role": "workflow:owner",
      "workflowId": "u6DfwRckAn3dzoxp",
      "projectId": "IcfJLMCsRkuOqzR8"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-24T13:20:10.000Z",
  "versionId": "92f14ae8-afa7-4c23-8149-e040f584f996"
}