workflows/Agents Garage 2 Electric Boogaloo.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "SET telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET telefone": {
      "main": [
        [
          {
            "node": "IF trigger delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "SET telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF trigger delete": {
      "main": [
        [
          {
            "node": "DELETE user_session, conversation_state, leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CREATE & SELECT cliente & user_session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREATE & SELECT cliente & user_session": {
      "main": [
        [
          {
            "node": "SELECT sessao_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT sessao_agendamento": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "criar_agendamento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "verifica_disponibilidade_agenda": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consulta_agendamento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cancela_agendamento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DELETE user_session, conversation_state, leads": {
      "main": [
        [
          {
            "node": "GET customer if exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET customer if exists": {
      "main": [
        [
          {
            "node": "DELETE test customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image": {
      "main": [
        [
          {
            "node": "Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-17T20:00:31.925Z",
  "id": "sNQyx4UemlwABDHT",
  "isArchived": true,
  "meta": null,
  "name": "Agents Garage 2 Electric Boogaloo",
  "nodes": [
    {
      "parameters": {
        "options": {},
        "path": "f1c7d4aa-0cae-4095-974c-7e8d796d75f0"
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -784,
        400
      ],
      "id": "fb1e4626-e28a-45ff-a8c0-c79bd9f44d7f",
      "name": "When chat message received",
      "webhookId": "f1c7d4aa-0cae-4095-974c-7e8d796d75f0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b12249d9-c3b0-40dc-a332-cc509fae1922",
              "name": "telefone",
              "value": "19971388220",
              "type": "string"
            },
            {
              "id": "0069d741-de73-40c2-9947-38b742d0d8b9",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        400
      ],
      "id": "1fa595c2-8654-4dbc-b86c-273f4dae0964",
      "name": "SET telefone"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -784,
        592
      ],
      "id": "4591a6e4-0c9e-4a50-9ef6-aa6c39a92f41",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7173483a-a3cc-4e35-9dd7-4f181216d247",
              "leftValue": "={{ $('When chat message received').last().json.chatInput }}",
              "rightValue": "##delete",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        272
      ],
      "id": "eafc6ecf-ee80-4380-9487-0c1b235382c7",
      "name": "IF trigger delete"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH existing_cliente AS (\n    SELECT *\n    FROM public.cliente\n    WHERE telefone = '{{ $('SET telefone').last().json.telefone }}'\n    LIMIT 1\n), inserted_cliente AS (\n    INSERT INTO public.cliente (telefone)\n    SELECT '{{ $('SET telefone').last().json.telefone }}'\n    WHERE NOT EXISTS (SELECT 1 FROM existing_cliente)\n    RETURNING *\n), final_cliente AS (\n    SELECT * FROM existing_cliente\n    UNION ALL\n    SELECT * FROM inserted_cliente\n), cliente_with_session AS (\n    SELECT \n        f.*,\n        s.session_id,\n        s.precisa_saudar,\n        us.transferido_para_humano,\n        us.id_agente_humano\n    FROM final_cliente f\n    CROSS JOIN LATERAL get_or_create_session(f.telefone) s\n    LEFT JOIN public.user_session us\n    ON us.id = s.session_id\n)\nSELECT json_build_object(\n    'cliente', to_jsonb(f) - 'session_id' - 'precisa_saudar' - 'transferido_para_humano' - 'id_agente_humano',\n    'session', json_build_object(\n        'session_id', f.session_id,\n        'precisa_saudar', f.precisa_saudar,\n        'transferido_para_humano', f.transferido_para_humano,\n        'id_agente_humano', f.id_agente_humano\n    )\n) AS result\nFROM cliente_with_session f;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        400
      ],
      "id": "99e7de14-c9fd-44d3-a9fe-f6d893885530",
      "name": "CREATE & SELECT cliente & user_session",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "sessao_agendamento",
          "mode": "list",
          "cachedResultName": "sessao_agendamento"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        400
      ],
      "id": "f5634053-b912-47b5-917f-922b7de70385",
      "name": "SELECT sessao_agendamento",
      "alwaysOutputData": true,
      "credentials": {},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.session.session_id }}",
        "tableName": "ortho_x_chat_histories",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        864,
        608
      ],
      "id": "7a528095-ecfb-4547-8beb-972802c0ea91",
      "name": "Postgres Chat Memory",
      "credentials": {}
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        736,
        608
      ],
      "id": "fa16eef3-5962-47a5-903d-322f9b65a1c6",
      "name": "OpenAI Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('SET telefone').last().json.chatInput }}",
        "options": {
          "systemMessage": "=Você é um assistente de inteligência artificial chamada Bia, uma agente especializada em tirar dúvidas e realizar o agendamento de consultas para a clínica OrthoX. Sua missão é responder aos clientes pelo WhatsApp e guiá-los até a marcação da consulta.\n\n## Objetivo\nSeu objetivo principal é conseguir as seguintes informações antes de consultar ou realizar um agendamento.\n\n{{\n  (() => {\n    const cliente = $('CREATE & SELECT cliente & user_session').last().json.result.cliente;\n    const sessao_agendamento = $('SELECT sessao_agendamento').last().json;\n\n    return `\nTelefone: ${\n        cliente?.telefone\n          ? `Informação já obtida (${cliente.telefone})`\n          : 'Solicite para a pessoa o telefone'\n      }\nNome: ${\n        cliente?.nome\n          ? `Informação já obtida, NÃO perguntar novamente  (${cliente.nome})`\n          : '* **PRIMEIRA PERGUNTA OBRIGATÓRIA**: \"Qual seu nome?\" (para identificar quem está falando)'\n      }\nUnidade: ${\n        sessao_agendamento?.unidade\n          ? `Informação já obtida (${sessao_agendamento.unidade})`\n          : 'Solicite para a pessoa a unidade'\n      }\nProcedimento: ${\n        sessao_agendamento?.servico\n          ? `Informação já obtida (${sessao_agendamento.servico})`\n          : 'Solicite para a pessoa o procedimento desejado (exame)'\n      }`;\n  })()\n}}\n\n## FLUXO OBRIGATÓRIO DE FERRAMENTAS (EXECUTAR NA ORDEM)\n\n### Fase 1 - Coleta de Dados:\n1. SEMPRE que receber Nome → EXECUTE `atualizar_dados` IMEDIATAMENTE\n2. SEMPRE que receber Unidade → EXECUTE `atualizar_dados` IMEDIATAMENTE  \n3. SEMPRE que receber Procedimento → EXECUTE `atualizar_dados` IMEDIATAMENTE\n   - CORRIJA a ortografia SOMENTE do Procedimento antes de atualizar\n\n### Fase 2 - Disponibilidade:\n4. SOMENTE APÓS ter Nome + Unidade + Procedimento coletados:\n   - Pergunte qual dia o usuário gostaria de agendar\n   - Quando usuário informar data → EXECUTE `verifica_disponibilidade_agenda`\n   - NUNCA sugira horários sem executar esta ferramenta\n\n### Fase 3 - Consulta:\n5. Para CONSULTAR agendamentos → EXECUTE `consulta_agendamento`\n   - NUNCA use informações de memória/histórico/chat history para listar agendamentos\n\n### Fase 4 - Ação Final:\n6. Para CRIAR agendamento → EXECUTE `criar_agendamento` após confirmação explícita\n7. Para CANCELAR → EXECUTE `consulta_agendamento` PRIMEIRO, DEPOIS `cancela_agendamento`\n\n## GATILHOS AUTOMÁTICOS DE FERRAMENTAS\n\nEXECUTE IMEDIATAMENTE (sem avisar o usuário):\n- Nome recebido → `atualizar_dados`\n- Unidade escolhida → `atualizar_dados`  \n- Procedimento informado → `atualizar_dados`\n- Data/horário solicitado → `verifica_disponibilidade_agenda`\n- Pedido de cancelamento → `consulta_agendamento`\n- Pedido de consulta de agendamentos → `consulta_agendamento`\n- Confirmação de agendamento → `criar_agendamento`\n- Confirmação de cancelamento → `cancela_agendamento`\n\n## BLOQUEIOS OBRIGATÓRIOS\n\n- NUNCA sugira horários sem executar `verifica_disponibilidade_agenda`\n- NUNCA Mostre agendamentos sem executar `consulta_agendamento`\n- NUNCA Crie agendamento sem confirmação explícita do usuário\n- NUNCA Cancele sem primeiro executar `consulta_agendamento`\n- NUNCA use informações de memória/histórico/chat history para disponibilidades\n- NUNCA Execute múltiplas operações simultâneas (crie/cancele APENAS um por vez)\n- NUNCA Pause a conversa para \"atualizar\" ou \"registrar\"\n- NUNCA Anuncie ao usuário que vai usar ferramentas\n\nSEMPRE BLOQUEIE E PEÇA INFO SE:\n- Faltam dados obrigatórios para a ferramenta\n- Usuário não confirmou explicitamente a ação\n- Horário solicitado não está disponível (ofereça o próximo disponível)\n\n## USO OBRIGATÓRIO DE RESPOSTAS DAS FERRAMENTAS\n\nApós executar ferramenta:\n1. USE APENAS o campo 'response' da ferramenta como base da resposta\n2. NUNCA invente ou adicione informações não retornadas pela ferramenta\n3. Se erro → informe exatamente a mensagem de erro retornada\n4. Se sucesso → prossiga IMEDIATAMENTE com próxima pergunta pendente\n5. NUNCA utilize disponibilidades de sua memória, sempre execute a ferramenta\n\n## Diretrizes de Conversação\n\n* SEMPRE apresente-se dizendo seu nome e a sua função de maneira cordial\n* APÓS obter o nome do usuário, prossiga com outras informações\n* NUNCA faça duas perguntas em uma única mensagem\n* Aguarde a resposta antes de seguir para a próxima pergunta\n* Utilize a data de hoje para se orientar: {{ new Date().toLocaleString(\"pt-br\", {  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false }) }}\n* Você sempre receberá o dia e horário atuais; a partir daí, identifique datas como amanhã, depois de amanhã, semana que vem, mês que vem, ano que vem\n* NUNCA invente respostas\n* **NUNCA peça \"um momento\" ou similar** - mantenha o fluxo natural\n* NUNCA utilize emojis\n* Mantenha o tom prestativo ao longo de toda a conversa\n* Evite repetir o nome da pessoa em toda resposta. Use de forma natural, quando necessário\n\n## Unidades\n- Se o usuário escolher a unidade de São Bernando do Campo (SBC) o id da unidade = 1\n- Se o usuário escolher a unidade de Diadema o id da unidade = 2\n- Se o usuário escolher a unidade Premium o id da unidade = 3\n- Se o usuário escolher a unidade de Santo André o id da unidade = 4\n\n## Identificação do Paciente\n\n**FLUXO OBRIGATÓRIO:**\n- **SEMPRE PERGUNTE**: \"Este agendamento é para você ou para outra pessoa?\"\n\n**Se for para outra pessoa:**\n- Colete: \"Qual o nome completo da pessoa para o agendamento?\"\n- **IMPORTANTE**: NUNCA use `atualizar_dados` para o nome do paciente\n\n**Se for para o próprio usuário:**\n- Utilize o Nome já coletado\n\n## Fluxo de Coleta (IMPORTANTE)\nQuando receber uma informação do usuário:\n1. Use a ferramenta necessária SEM avisar\n2. IMEDIATAMENTE faça a próxima pergunta pendente\n3. NUNCA pause a conversa para \"atualizar\" ou \"registrar\"\n\n## Progresso Parcial\nSe o cliente fornecer apenas parte dos dados:\n- Agradeça brevemente E faça a próxima pergunta na MESMA mensagem\n- Exemplo: \"Perfeito! Agora, qual seu nome completo?\"\n\n## Procedimentos Específicos\n\n### Cancelamento\n- Nome recebido com pedido de cancelamento → EXECUTE `consulta_agendamento` IMEDIATAMENTE\n- SEMPRE liste TODOS os agendamentos numericamente após executar `consulta_agendamento`\n- QUANDO houver múltiplos agendamentos:\n  - LISTE: \"[1] Nome paciente - Unidade - Procedimento - Data/Hora\"\n  - AGUARDE o usuário escolher o NÚMERO ou procedimento ou data/hora\n  - NUNCA prossiga sem confirmação específica de QUAL cancelar\n- SEMPRE confirme ANTES de cancelar:\n  - MOSTRE: \"Confirma cancelamento de [procedimento] em [data/hora]?\"\n  - SOMENTE execute `cancela_agendamento` após confirmação explícita\n\n### Reagendamento\n- Se o usuário pedir reagendamento, notifique que ele deverá cancelar o agendamento e criar um novo\n- NUNCA tente realizar reagendamento direto\n- Realize o cancelamento passando o parâmetro \"reagendamento = true\"\n- Após cancelar, comece novo fluxo de agendamento pedindo: Unidade, Procedimento, Data e Hora"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        992,
        400
      ],
      "id": "ed2afbe7-6447-48d0-a340-1ada15daf121",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "description": "=Chame esta ferramenta para criar um agendamento.",
        "workflowId": {
          "__rl": true,
          "value": "vgSOin0VRrA7cx0p",
          "mode": "list",
          "cachedResultName": "Agendamento | Easy Appointments"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $fromAI('data', `Somente a data escolhida pelo usuário no formato yyyy-MM-dd.`, 'string', 'nao_informado') }}",
            "id_usuario": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.id_usuario }}",
            "telefone": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.telefone }}",
            "hora": "={{ $fromAI('hora', `Utilize esse campo para o horário do procedimento no formato hh:mm:ss`, 'string', 'nao_informado') }}",
            "nome_paciente": "={{ $fromAI('nome_paciente', `O nome completo do paciente`, 'string') }}",
            "session_id": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.session.session_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_usuario",
              "displayName": "id_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome_paciente",
              "displayName": "nome_paciente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        992,
        608
      ],
      "id": "512fac6e-ded5-4e02-ae19-be279a7e1b18",
      "name": "criar_agendamento"
    },
    {
      "parameters": {
        "description": "=SEMPRE utilize essa ferramenta para atualizar os dados do paciente a cada resposta obtida para as perguntas:\n\n- Nome completo\n- Unidade\n- Procedimento\n\n\nSEMPRE utilize o valor coletado sem formatação e NUNCA invente valores para os campos.",
        "workflowId": {
          "__rl": true,
          "value": "tcSkxciXYiM5OnY7",
          "mode": "list",
          "cachedResultName": "Cadastro Usuário | EasyAppointments"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.telefone}}",
            "procedimento": "={{ $fromAI('procedimento', `O tipo de procedimento/exame solicitado pelo usuário`, 'string', 'nao_informado') }}",
            "nome": "={{ $fromAI('nome', `Utilize esse campo para preencher o nome completo da pessoa`, 'string', 'nao_informado' ) }}",
            "unidade": "={{ $fromAI('unidade', `Utilize esse campo para preencher o ID da unidade que a pessoa escolher. Utilize somente o número associado com a respectiva unidade.`, 'string', 'nao_informado' ) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "unidade",
              "displayName": "unidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "procedimento",
              "displayName": "procedimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1120,
        608
      ],
      "id": "e560d1da-14ac-4df3-8ea5-e3a5652bebce",
      "name": "atualiza_dados"
    },
    {
      "parameters": {
        "description": "=Chame esta ferramenta para vefiricar os horários disponíveis após o usuário informar nome e data, horário e o procedimento.",
        "workflowId": {
          "__rl": true,
          "value": "MQZxGZkhiSk4BXLK",
          "mode": "list",
          "cachedResultName": "Busca Disponibilidade| Easy Appointments"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $fromAI('data', `Somente a data escolhida pelo usuário no formato yyyy-MM-dd.`, 'string', 'nao_informado') }}",
            "telefone": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.telefone }}",
            "hora": "={{ $fromAI('hora', `Utilize esse campo para o horário do procedimento`, 'string', 'nao_informado') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1264,
        608
      ],
      "id": "a68a642b-f9c3-4910-86e3-6aa4cb5989b0",
      "name": "verifica_disponibilidade_agenda"
    },
    {
      "parameters": {
        "description": "Consulta agendamentos existentes do cliente. Use para verificar, listar ou obter detalhes de agendamentos já confirmados pelo cliente.",
        "workflowId": {
          "__rl": true,
          "value": "lDKIAPPZxKs173gl",
          "mode": "list",
          "cachedResultName": "EasyAppointments | Consulta Agendamento"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_usuario": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.id_usuario }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_usuario",
              "displayName": "id_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cliente_solicita",
              "displayName": "cliente_solicita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1424,
        608
      ],
      "id": "e88a99af-b474-4740-ad2c-ea1b1553100c",
      "name": "consulta_agendamento"
    },
    {
      "parameters": {
        "description": "Cancela agendamentos existentes do cliente. Use para cancelar agendamentos já confirmados. ",
        "workflowId": {
          "__rl": true,
          "value": "0O6y5NDvNkKnkHWl",
          "mode": "list",
          "cachedResultName": "Cancelar Agendamento | EasyAppointments"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_usuario": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.cliente.id_usuario }}",
            "data_agendada": "={{ $fromAI('data_agendada', `data e hora da consulta agendada que deseja cancelar em formato YYYY-mm-dd hh:mm:ss`, 'string') }}",
            "nome_paciente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome_paciente', `O nome completo do paciente.`, 'string') }}",
            "session_id": "={{ $('CREATE & SELECT cliente & user_session').last().json.result.session.session_id}}",
            "telefone": "={{ $('SELECT sessao_agendamento').last().json.telefone }}"
          },
          "matchingColumns": [
            "info_cancelamento"
          ],
          "schema": [
            {
              "id": "id_usuario",
              "displayName": "id_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_agendada",
              "displayName": "data_agendada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome_paciente",
              "displayName": "nome_paciente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "reagendamento",
              "displayName": "reagendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1600,
        608
      ],
      "id": "142d33b0-16d8-42a7-960a-f589ec3ebfc2",
      "name": "cancela_agendamento"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DO $$\nDECLARE\n  target_phone text := '{{ $('SET telefone').last().json.telefone }}';\nBEGIN\n  -- Step 1: Delete from user_session\n  DELETE FROM public.user_session\n  WHERE telefone = target_phone;\n\n  -- Step 1: Delete from sessao_agendamento\n  DELETE FROM public.sessao_agendamento\n  WHERE telefone = target_phone;\n\n  -- Step 2: Delete from cliente\n  DELETE FROM public.cliente\n  WHERE telefone = target_phone;\n\nEND $$;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        272,
        128
      ],
      "id": "b187cd08-e35e-4593-9acf-fd5402d50ee7",
      "name": "DELETE user_session, conversation_state, leads",
      "credentials": {}
    },
    {
      "parameters": {
        "url": "https://orthox-easyappointments.reyhdo.easypanel.host/index.php/api/v1/customers",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=19998210119"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXV0b21hY29lcy5vcnRob3hAZ21haWwuY29tOnJ0azZyeWNAUUhEKm56djB6bW4="
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        128
      ],
      "id": "27f9bb59-6fac-48b9-9369-43d79642110f",
      "name": "GET customer if exists",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://orthox-easyappointments.reyhdo.easypanel.host/index.php/api/v1/customers/{{ $('GET customer if exists').last().json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXV0b21hY29lcy5vcnRob3hAZ21haWwuY29tOnJ0azZyeWNAUUhEKm56djB6bW4="
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        128
      ],
      "id": "04ef318e-5509-4dae-8a17-25f36f47f8e6",
      "name": "DELETE test customer",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=You are an advanced image description AI assistant . Your primary function is to provide detailed, accurate descriptions of images submitted through WhatsApp.\n\nCORE FUNCTIONALITY:\n- When presented with an image, you will analyze it thoroughly and provide a comprehensive description in English.\n- Your descriptions should capture both the obvious and subtle elements within the image.\n\nIMAGE DESCRIPTION GUIDELINES:\n- Begin with a broad overview of what the image contains\n- Describe key subjects, people, objects, and their relationships\n- Note significant visual elements such as colors, lighting, composition, and perspective\n- Identify any text visible in the image\n- Describe the setting or environment\n- Mention any notable actions or events taking place\n- Comment on mood, tone, or atmosphere when relevant\n- If applicable, identify landmarks, famous people, or cultural references\n\nRESPONSE FORMAT:\n- Start with \"Image Description:\" followed by your analysis\n- Structure your description in a logical manner (general to specific)\n- Use clear, precise language appropriate for visual description\n- Format longer descriptions with paragraphs to enhance readability\n- End with any notable observations that might require special attention\n\nLIMITATIONS:\n- If the image is blurry, low resolution, or difficult to interpret, acknowledge these limitations\n- If an image contains potentially sensitive content, provide a factual description without judgment\n- Do not make assumptions about elements that cannot be clearly determined\n\nYour descriptions should be informative, objective, and thorough, enabling someone who cannot see the image to form an accurate mental picture of its contents.",
        "inputType": "base64",
        "options": {
          "detail": "auto"
        }
      },
      "id": "a9656f27-5508-4666-a0bb-7ac1206f8823",
      "name": "Analyze Image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -768,
        880
      ],
      "typeVersion": 1.8,
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67552183-de2e-494a-878e-c2948e8cb6bb",
              "name": "text",
              "type": "string",
              "value": "=User request on the image:\n{{ \"Describe the following image\" || $('WhatsApp Trigger').item.json.messages[0].image.caption }}\n\nImage description:\n{{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e6d91e1c-c833-4a0b-928f-cd2bbf6be0f1",
      "name": "Image",
      "type": "n8n-nodes-base.set",
      "position": [
        -512,
        880
      ],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-17T20:00:31.937Z",
      "createdAt": "2025-09-17T20:00:31.937Z",
      "role": "workflow:owner",
      "workflowId": "sNQyx4UemlwABDHT",
      "projectId": "IcfJLMCsRkuOqzR8"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-18T13:13:35.000Z",
  "versionId": "bfafc1e5-f107-4af0-bbc3-5a03eb43a6c2"
}