workflows/Cadastro Usuário V2 | EasyAppointments.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-12T19:58:16.393Z",
    "createdAt": "2026-01-12T19:58:16.393Z",
    "versionId": "7c606fa3-b13d-4644-ab83-9445cd6f68d2",
    "workflowId": "CDA6j4DP5uFZa7JA",
    "nodes": [
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "68a0e166-9a2a-4dda-a26c-e1ac1e647bf8",
                "leftValue": "={{ $('SELECT cliente após atualizar cadastro').last().json.nome }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3056,
          464
        ],
        "id": "3f6e7b0c-074f-45a7-a406-ba5109a7bbfd",
        "name": "IF dados completos"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "23d37a21-d4b6-4933-a5c4-bcc3540c4ce8",
                "name": "response",
                "value": "O usuário já está cadastrado!",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          304,
          1552
        ],
        "id": "fab5fe5f-b9cf-4f7c-8bca-1acd0e1a8001",
        "name": "Retorno preventivo para agente"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "77cd45d0-845f-4199-b276-05c15afc7180",
                "leftValue": "={{ $('CLIENTE - Gerencia Campos Atualização').last().json.sql }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -16,
          560
        ],
        "id": "8209b26d-b5d4-4dd8-abb7-1859c9d0ec2e",
        "name": "IF existe SQL"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "9b702113-3be0-40ec-adb9-9ca39904debb",
                "leftValue": "={{ $('SELECT cliente').last().json.id_usuario }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -16,
          1744
        ],
        "id": "e34f9552-d324-41bf-b44f-a918613adaf7",
        "name": "IF cliente existe no EasyAppointments",
        "notesInFlow": true,
        "notes": "A validação de qualificação concluída no início do fluxo evita que sempre retorne para o agente falando que a Paramount entrará em contato."
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "{{ $('CLIENTE - Gerencia Campos Atualização').last().json.sql }}",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          208,
          496
        ],
        "id": "2351d5c7-3ac8-4c3c-a05c-e634c18d2a3c",
        "name": "UPDATE Cliente",
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "telefone"
              },
              {
                "name": "nome"
              },
              {
                "name": "unidade"
              },
              {
                "name": "procedimento"
              },
              {
                "name": "data_agendamento"
              },
              {
                "name": "is_dentista",
                "type": "boolean"
              },
              {
                "name": "falar_com_humano",
                "type": "boolean"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -720,
          560
        ],
        "id": "575cc51d-aba5-41ab-bde2-b9f98640a401",
        "name": "inicio_fluxo"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT *  \nFROM public.cliente \nWHERE telefone = '{{ $('inicio_fluxo').last().json.telefone }}';\n",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -496,
          560
        ],
        "id": "1175d9de-60c1-41d7-af76-89b14fbec2e3",
        "name": "SELECT cliente",
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const ignoreFields = ['telefone', 'unidade', 'procedimento', 'data_agendamento', 'falar_com_humano']\n\n// Para que esse código funcione corretamente, os nomes dos campos recebidos no workflow devem ser os MESMOS que as COLUNAS da tabela do lead\nconst clientePhone = $('inicio_fluxo').last().json.telefone;\n\nfunction getFieldsToUpdate(currentData, databaseData) {\n  const updates = {};\n\n  if (databaseData.nome && databaseData.nome !== 'nao_informado') {\n    return {};\n  }\n  \n  for (const key in currentData) {\n    if (ignoreFields.includes(key)) continue;\n  \n    const currentValue = currentData[key];\n    const databaseValue = databaseData[key];\n  \n    if (currentValue === 'nao_informado' || currentValue === databaseValue || currentValue === null) continue;\n  \n    updates[key] = currentValue;\n  }\n\n  return updates;\n}\n\nfunction buildUpdateSQL(updates) {\n  const setClauses = Object.entries(updates).map(\n    ([key, value]) => {\n      if (key != 'is_dentista')\n      {\n      return `${key} = '${value.replace(/'/g, \"''\")}'`\n      } else {\n      return `${key} = ${value}`\n      }\n    }\n  );\n  if (setClauses.length === 0) return null;\n\n  return `UPDATE public.cliente SET ${setClauses.join(', ')}, updated_at = now() WHERE telefone = '${clientePhone}';`;\n}\n\nconst currentLeadData = $('inicio_fluxo').last().json;\nconst databaseLeadData = $('SELECT cliente').last().json;\n\n\nconst updatedLeadData = {...currentLeadData};\n\nconst updates = getFieldsToUpdate(updatedLeadData, databaseLeadData);\nconst sql = buildUpdateSQL(updates);\n\nreturn {\n  sql: sql,\n  updated_fields: updates,\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -256,
          560
        ],
        "id": "e9403a1a-45db-4fc5-b4e3-b836bc0821c0",
        "name": "CLIENTE - Gerencia Campos Atualização"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT *  \nFROM public.cliente \nWHERE telefone = '{{ $('inicio_fluxo').last().json.telefone }}';\n",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          432,
          576
        ],
        "id": "0cb7e81b-a653-46bb-af2d-a9a60c430450",
        "name": "SELECT cliente após atualizar cadastro",
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        }
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "cliente",
            "mode": "list",
            "cachedResultName": "cliente"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "telefone": "={{ $('inicio_fluxo').last().json.telefone }}",
              "id_usuario": "={{ $('CREATE cadastro cliente EasyAppointments').last().json.id }}",
              "updated_at": "={{ $now }}"
            },
            "matchingColumns": [
              "telefone"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "nome",
                "displayName": "nome",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "email",
                "displayName": "email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": true
              },
              {
                "id": "telefone",
                "displayName": "telefone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "id_usuario",
                "displayName": "id_usuario",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "id_consulta",
                "displayName": "id_consulta",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false,
                "removed": true
              },
              {
                "id": "created_at",
                "displayName": "created_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false,
                "removed": true
              },
              {
                "id": "updated_at",
                "displayName": "updated_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          4032,
          336
        ],
        "id": "84c7840d-ba85-4694-9e6f-ad1c6f217ba1",
        "name": "UPDATE cliente",
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        }
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "getAll",
          "projectId": "pgql7k4nol2x2v3",
          "table": "m0iyjihu1u1x367",
          "options": {
            "fields": [],
            "where": "=(nome,like,%{{ $('GET procedimento').last().json.nome }}%)~and(servico_categoria_id,eq,{{ $('inicio_fluxo').last().json.unidade }})"
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          2144,
          464
        ],
        "id": "2f94143d-2a35-4ba4-b904-0c9614a9bf2c",
        "name": "GET serviço",
        "alwaysOutputData": true,
        "notesInFlow": true,
        "credentials": {
          "nocoDbApiToken": {
            "id": "YMzQJOYYNNqkgSKg",
            "name": "n8n_ortho_x"
          }
        },
        "onError": "continueRegularOutput",
        "notes": "Recupera serviço pelo id"
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "sessao_agendamento",
            "mode": "list",
            "cachedResultName": "sessao_agendamento"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "telefone",
                "value": "={{ $('inicio_fluxo').last().json.telefone }}"
              },
              {
                "column": "deletado",
                "value": "={{ false }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          2336,
          464
        ],
        "id": "83f58b00-b2d6-4147-bc48-23dc17cf81ab",
        "name": "SELECT sessao_agendamento",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        }
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "sessao_agendamento",
            "mode": "list",
            "cachedResultName": "sessao_agendamento"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "telefone": "={{ $('inicio_fluxo').last().json.telefone }}",
              "unidade_id": "={{ $('inicio_fluxo').last().json.unidade }}",
              "atualizado_em": "={{ $now }}",
              "servico_id": "={{ $('GET serviço').last().json.id_easyappointments }}",
              "data_agendamento": "={{ $('inicio_fluxo').last().json.data_agendamento }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "telefone",
                "displayName": "telefone",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "unidade_id",
                "displayName": "unidade_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "servico_id",
                "displayName": "servico_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "criado_em",
                "displayName": "criado_em",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              },
              {
                "id": "atualizado_em",
                "displayName": "atualizado_em",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              },
              {
                "id": "provider_id",
                "displayName": "provider_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "deletado",
                "displayName": "deletado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "boolean",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "data_agendamento",
                "displayName": "data_agendamento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          2784,
          560
        ],
        "id": "e138b2c0-1eec-4ac2-9d35-a0dd4dabbc38",
        "name": "INSERT sessao_agendamento",
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "69bcbc97-a66e-49fe-8603-7ee7ea45d5f3",
                "name": "response",
                "value": "=Ainda faltam informações antes de seguir para o agendamento.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3328,
          480
        ],
        "id": "bc03786a-0135-4081-8140-ed7e801d6d6a",
        "name": "Response dados incompletos"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "69bcbc97-a66e-49fe-8603-7ee7ea45d5f3",
                "name": "response",
                "value": "=Informações necessárias para realizar o agendamento obtidas. Utilize a ferramenta `verifica_disponibilidade_agenda` para entender os horários disponíveis de acordo com a data e hora informada pela pessoa.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4352,
          336
        ],
        "id": "f202de86-409d-475c-b4d1-069d4fd025fb",
        "name": "Response dados completos"
      },
      {
        "parameters": {
          "url": "https://orthox-easyappointments.reyhdo.easypanel.host/index.php/api/v1/customers",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $('SELECT cliente').last().json.telefone }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Basic YXV0b21hY29lcy5vcnRob3hAZ21haWwuY29tOnJ0azZyeWNAUUhEKm56djB6bW4="
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3328,
          320
        ],
        "id": "8a9ac46d-789f-4b5e-82de-01e05ea4e683",
        "name": "GET customer if exists",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "57e31ebb-a88f-4481-846d-21fc20b9a9e7",
                "leftValue": "={{ $('GET customer if exists').last().json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3536,
          320
        ],
        "id": "3417c884-2151-4e36-8678-0735f2538f1f",
        "name": "IF customer exists"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://orthox-easyappointments.reyhdo.easypanel.host/index.php/api/v1/customers",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "accept",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "Basic YXV0b21hY29lcy5vcnRob3hAZ21haWwuY29tOnJ0azZyeWNAUUhEKm56djB6bW4="
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"firstName\": \"{{ $('SELECT cliente após atualizar cadastro').last().json.nome }}\",\n  \"phone\": \"{{ $('inicio_fluxo').last().json.telefone }}\"\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3776,
          336
        ],
        "id": "0c312ac8-19fa-4ea0-9dca-2c1021e2a077",
        "name": "CREATE cadastro cliente EasyAppointments"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://orthox-easyappointments.reyhdo.easypanel.host/index.php/api/v1/customers/{{ $('GET customer if exists').last().json.id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "accept",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "Basic YXV0b21hY29lcy5vcnRob3hAZ21haWwuY29tOnJ0azZyeWNAUUhEKm56djB6bW4="
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"firstName\": \"{{ $('SELECT cliente após atualizar cadastro').last().json.nome }}\",\n  \"phone\": \"{{ $('inicio_fluxo').last().json.telefone }}\"\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3856,
          176
        ],
        "id": "cf65cad0-27e6-4112-ae7a-0ca7acb288d0",
        "name": "UPDATE cadastro cliente EasyAppointments"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT DISTINCT ON (p.nome) p.nome AS procedimento_nome\nFROM procedimentos p\nJOIN exames e ON e.id_procedimento = p.id\nWHERE e.nome % '{{ $('inicio_fluxo').last().json.procedimento }}'\n   OR e.nome_normalizado % '{{ $('inicio_fluxo').last().json.procedimento }}'\n   OR '{{ $('inicio_fluxo').last().json.procedimento }}' <% e.nome\n   OR '{{ $('inicio_fluxo').last().json.procedimento }}' <% e.nome_normalizado\nORDER BY \n  p.nome\n  DESC;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1040,
          320
        ],
        "id": "9705690d-fa6e-41e1-972d-5389045e8c46",
        "name": "Procura nome categoria (Similaridade)",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE public.sessao_agendamento\nSET unidade_id = '{{ $('inicio_fluxo').last().json.unidade }}', servico_id = '{{ $('GET serviço').last().json.id_easyappointments }}', atualizado_em = '{{ $now }}'::timestamptz, data_agendamento = '{{ $('inicio_fluxo').last().json.data_agendamento }}'\nWHERE telefone = '{{ $('inicio_fluxo').last().json.telefone }}'\n  AND deletado = false;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          2784,
          368
        ],
        "id": "91303793-8a3f-49c2-b580-b0ffca76047d",
        "name": "UPDATE sessao_agendamento",
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5e46b9bb-cd14-4113-8aa9-9dc4fb3f8212",
                "name": "response",
                "value": "Procedimento não encontrado.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1888,
          704
        ],
        "id": "00c18166-0d22-4b4b-9ef7-e2f48fa29b38",
        "name": "Resposta procedimento não encontrado"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "393b2f35-07b3-4155-88e9-115a3af1e8fb",
                "leftValue": "={{ $('AI Agent').last().json }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1728,
          480
        ],
        "id": "1bed5fa6-f088-4903-854d-f61552bf4f5e",
        "name": "If procedimento encontrado"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5e46b9bb-cd14-4113-8aa9-9dc4fb3f8212",
                "name": "response",
                "value": "Identifique a unidade, procedimento e a data que a pessoa deseja",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1104,
          880
        ],
        "id": "cf34dc40-3819-48fc-8f64-a0f5ae08b96f",
        "name": "Resposta unidade/procedimento/data não informado"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c067dced-6c6e-44d2-94f4-7941f8d429d3",
                "leftValue": "={{ $('inicio_fluxo').last().json.procedimento }}",
                "rightValue": "nao_informado",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "41e22d5a-96d0-4acf-9f5a-24fdbdf35435",
                "leftValue": "={{ $('inicio_fluxo').last().json.unidade }}",
                "rightValue": "nao_informado",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "040cfba8-3e00-462e-99e3-fd8545570753",
                "leftValue": "={{ $('inicio_fluxo').last().json.data_agendamento }}",
                "rightValue": "nao_informado",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          656,
          576
        ],
        "id": "2bf5a494-31ec-449a-b822-24f4cd4bdeae",
        "name": "Existe unidade, procedimento e data"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT nome_normalizado,id_procedimento FROM exames",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          896,
          496
        ],
        "id": "3e45d110-f122-425d-b0b8-01ddf04bd3d7",
        "name": "GET exames",
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Você é um assistente de uma clínica ortodôntica. Entrada: \"{{ $('inicio_fluxo').last().json.procedimento }}\".\nA lista de exames válida e suas respectivas categorias: {{ $json.examList }}\n\nREGRAS OBRIGATÓRIAS:\n1) Você DEVE encontrar o exame da lista que mais se aproxima ao desejado pelo paciente.\n2) Você DEVE retornar APENAS um único objeto JSON bruto, sem texto adicional, sem explicações, sem backticks, sem campos externos/extras. Nada além do JSON.\n3) O JSON deve obedecer estritamente este schema:\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"nome_normalizado\": { \"type\": \"string\" },\n    \"id_procedimento\": { \"type\": \"integer\" }\n  },\n  \"required\": [\"nome_normalizado\",\"id_procedimento\"],\n  \"additionalProperties\": false\n}\n4) **id_procedimento deve ser um número inteiro JSON (sem aspas).**\n5) Se não encontrar um exame adequado, retorne:\n   {\"nome_normalizado\": null, \"id_procedimento\": null}\n   (novamente: objeto JSON único, e id como `null`, não como string.)\n6) Se houver ambiguidade, escolha o exame mais próximo pelo nome; ainda assim retorne um único objeto válido.\n7) **Não** inclua chaves como \"output\", \"result\", \"data\", etc — apenas o objeto acima.\n\nExemplo de saída VÁLIDA (exatamente esse formato):\n{\"nome_normalizado\":\"Mão e punho\",\"id_procedimento\":1}\n",
          "hasOutputParser": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          1312,
          496
        ],
        "id": "ad8282dd-1d12-4ae4-9d34-18c3e42f1e55",
        "name": "AI Agent",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          1312,
          672
        ],
        "id": "66eedbec-b4e2-4f2e-b31d-29f1cb9d71ae",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "ER0I3fZmmkBwmDBr",
            "name": "OpenAi ni.automacoes"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"nome_normalizado\": \"string\",\n  \"id_procedimento\": 1\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          1456,
          672
        ],
        "id": "7eeb320a-cb53-47db-b995-18a00ec18bbf",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "projectId": "pgql7k4nol2x2v3",
          "table": "mwssvzqs1y3sgza",
          "id": "={{ $('If procedimento encontrado').last().json.output.id_procedimento }}"
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          1952,
          464
        ],
        "id": "a3e512d3-1518-4253-8847-ab9b754031aa",
        "name": "GET procedimento",
        "credentials": {
          "nocoDbApiToken": {
            "id": "YMzQJOYYNNqkgSKg",
            "name": "n8n_ortho_x"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const exams = $('GET exames').all().map(item => item.json);\n\nconst formattedList = exams.map(e => `${e.nome_normalizado}: ${e.id_procedimento}`).join(\"\\n\");\n\nreturn [\n  {\n    json: {\n      examList: formattedList\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1104,
          496
        ],
        "id": "e076fda8-4768-4b4c-86a5-60795ab16695",
        "name": "Converte JSON para texto"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "1bc3ac90-874d-4f2f-b695-c022ea113459",
                "leftValue": "={{ $('SELECT sessao_agendamento').last().json.keys() }}",
                "rightValue": 0,
                "operator": {
                  "type": "array",
                  "operation": "lengthGt",
                  "rightType": "number"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2512,
          464
        ],
        "id": "045d8726-636d-4cee-b581-957c447ae602",
        "name": "IF sessao_agendamento existe"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0c491140-8871-4895-b5a4-5ece9ecd7657",
                "name": "response",
                "value": "=Explique para o usuário que para falar com um humano é necessário obter o nome e se o usuário é um dentista. Solicite esses dados seguindo o processo definido.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1104,
          704
        ],
        "id": "4828444c-9ac0-4a50-8524-11bf195faf14",
        "name": "Retorno solicitação de dados para Agente Executor"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "ed71f13a-7bf3-42ab-898c-37582401f713",
                "leftValue": "={{ $('inicio_fluxo').last().json.falar_com_humano }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          896,
          720
        ],
        "id": "7d8ce78e-8096-4497-9a95-504ecbc74839",
        "name": "Falar com humano?"
      }
    ],
    "connections": {
      "IF dados completos": {
        "main": [
          [
            {
              "node": "GET customer if exists",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Response dados incompletos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF existe SQL": {
        "main": [
          [
            {
              "node": "UPDATE Cliente",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SELECT cliente após atualizar cadastro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF cliente existe no EasyAppointments": {
        "main": [
          [
            {
              "node": "Retorno preventivo para agente",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "UPDATE Cliente": {
        "main": [
          [
            {
              "node": "SELECT cliente após atualizar cadastro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "inicio_fluxo": {
        "main": [
          [
            {
              "node": "SELECT cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SELECT cliente": {
        "main": [
          [
            {
              "node": "CLIENTE - Gerencia Campos Atualização",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CLIENTE - Gerencia Campos Atualização": {
        "main": [
          [
            {
              "node": "IF existe SQL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SELECT cliente após atualizar cadastro": {
        "main": [
          [
            {
              "node": "Existe unidade, procedimento e data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET serviço": {
        "main": [
          [
            {
              "node": "SELECT sessao_agendamento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SELECT sessao_agendamento": {
        "main": [
          [
            {
              "node": "IF sessao_agendamento existe",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "INSERT sessao_agendamento": {
        "main": [
          [
            {
              "node": "IF dados completos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UPDATE cliente": {
        "main": [
          [
            {
              "node": "Response dados completos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET customer if exists": {
        "main": [
          [
            {
              "node": "IF customer exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF customer exists": {
        "main": [
          [
            {
              "node": "UPDATE cadastro cliente EasyAppointments",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "CREATE cadastro cliente EasyAppointments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CREATE cadastro cliente EasyAppointments": {
        "main": [
          [
            {
              "node": "UPDATE cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UPDATE cadastro cliente EasyAppointments": {
        "main": [
          [
            {
              "node": "Response dados completos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Procura nome categoria (Similaridade)": {
        "main": [
          []
        ]
      },
      "UPDATE sessao_agendamento": {
        "main": [
          [
            {
              "node": "IF dados completos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If procedimento encontrado": {
        "main": [
          [
            {
              "node": "GET procedimento",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Resposta procedimento não encontrado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Existe unidade, procedimento e data": {
        "main": [
          [
            {
              "node": "GET exames",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Falar com humano?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET exames": {
        "main": [
          [
            {
              "node": "Converte JSON para texto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "If procedimento encontrado",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Resposta procedimento não encontrado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET procedimento": {
        "main": [
          [
            {
              "node": "GET serviço",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Converte JSON para texto": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF sessao_agendamento existe": {
        "main": [
          [
            {
              "node": "UPDATE sessao_agendamento",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "INSERT sessao_agendamento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Falar com humano?": {
        "main": [
          [
            {
              "node": "Retorno solicitação de dados para Agente Executor",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Resposta unidade/procedimento/data não informado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "7c606fa3-b13d-4644-ab83-9445cd6f68d2",
  "connections": {
    "IF dados completos": {
      "main": [
        [
          {
            "node": "GET customer if exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response dados incompletos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF existe SQL": {
      "main": [
        [
          {
            "node": "UPDATE Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SELECT cliente após atualizar cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF cliente existe no EasyAppointments": {
      "main": [
        [
          {
            "node": "Retorno preventivo para agente",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "UPDATE Cliente": {
      "main": [
        [
          {
            "node": "SELECT cliente após atualizar cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inicio_fluxo": {
      "main": [
        [
          {
            "node": "SELECT cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT cliente": {
      "main": [
        [
          {
            "node": "CLIENTE - Gerencia Campos Atualização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLIENTE - Gerencia Campos Atualização": {
      "main": [
        [
          {
            "node": "IF existe SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT cliente após atualizar cadastro": {
      "main": [
        [
          {
            "node": "Existe unidade, procedimento e data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET serviço": {
      "main": [
        [
          {
            "node": "SELECT sessao_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT sessao_agendamento": {
      "main": [
        [
          {
            "node": "IF sessao_agendamento existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT sessao_agendamento": {
      "main": [
        [
          {
            "node": "IF dados completos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE cliente": {
      "main": [
        [
          {
            "node": "Response dados completos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET customer if exists": {
      "main": [
        [
          {
            "node": "IF customer exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF customer exists": {
      "main": [
        [
          {
            "node": "UPDATE cadastro cliente EasyAppointments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CREATE cadastro cliente EasyAppointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREATE cadastro cliente EasyAppointments": {
      "main": [
        [
          {
            "node": "UPDATE cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE cadastro cliente EasyAppointments": {
      "main": [
        [
          {
            "node": "Response dados completos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procura nome categoria (Similaridade)": {
      "main": [
        []
      ]
    },
    "UPDATE sessao_agendamento": {
      "main": [
        [
          {
            "node": "IF dados completos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If procedimento encontrado": {
      "main": [
        [
          {
            "node": "GET procedimento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta procedimento não encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe unidade, procedimento e data": {
      "main": [
        [
          {
            "node": "GET exames",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Falar com humano?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET exames": {
      "main": [
        [
          {
            "node": "Converte JSON para texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If procedimento encontrado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta procedimento não encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET procedimento": {
      "main": [
        [
          {
            "node": "GET serviço",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte JSON para texto": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF sessao_agendamento existe": {
      "main": [
        [
          {
            "node": "UPDATE sessao_agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INSERT sessao_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Falar com humano?": {
      "main": [
        [
          {
            "node": "Retorno solicitação de dados para Agente Executor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta unidade/procedimento/data não informado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-19T13:49:49.422Z",
  "id": "CDA6j4DP5uFZa7JA",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Cadastro Usuário V2 | EasyAppointments",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "68a0e166-9a2a-4dda-a26c-e1ac1e647bf8",
              "leftValue": "={{ $('SELECT cliente após atualizar cadastro').last().json.nome }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3056,
        464
      ],
      "id": "3f6e7b0c-074f-45a7-a406-ba5109a7bbfd",
      "name": "IF dados completos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23d37a21-d4b6-4933-a5c4-bcc3540c4ce8",
              "name": "response",
              "value": "O usuário já está cadastrado!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        1552
      ],
      "id": "fab5fe5f-b9cf-4f7c-8bca-1acd0e1a8001",
      "name": "Retorno preventivo para agente"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "77cd45d0-845f-4199-b276-05c15afc7180",
              "leftValue": "={{ $('CLIENTE - Gerencia Campos Atualização').last().json.sql }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        560
      ],
      "id": "8209b26d-b5d4-4dd8-abb7-1859c9d0ec2e",
      "name": "IF existe SQL"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b702113-3be0-40ec-adb9-9ca39904debb",
              "leftValue": "={{ $('SELECT cliente').last().json.id_usuario }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        1744
      ],
      "id": "e34f9552-d324-41bf-b44f-a918613adaf7",
      "name": "IF cliente existe no EasyAppointments",
      "notesInFlow": true,
      "notes": "A validação de qualificação concluída no início do fluxo evita que sempre retorne para o agente falando que a Paramount entrará em contato."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $('CLIENTE - Gerencia Campos Atualização').last().json.sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        496
      ],
      "id": "2351d5c7-3ac8-4c3c-a05c-e634c18d2a3c",
      "name": "UPDATE Cliente",
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefone"
            },
            {
              "name": "nome"
            },
            {
              "name": "unidade"
            },
            {
              "name": "procedimento"
            },
            {
              "name": "data_agendamento"
            },
            {
              "name": "is_dentista",
              "type": "boolean"
            },
            {
              "name": "falar_com_humano",
              "type": "boolean"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -720,
        560
      ],
      "id": "575cc51d-aba5-41ab-bde2-b9f98640a401",
      "name": "inicio_fluxo"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *  \nFROM public.cliente \nWHERE telefone = '{{ $('inicio_fluxo').last().json.telefone }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -496,
        560
      ],
      "id": "1175d9de-60c1-41d7-af76-89b14fbec2e3",
      "name": "SELECT cliente",
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ignoreFields = ['telefone', 'unidade', 'procedimento', 'data_agendamento', 'falar_com_humano']\n\n// Para que esse código funcione corretamente, os nomes dos campos recebidos no workflow devem ser os MESMOS que as COLUNAS da tabela do lead\nconst clientePhone = $('inicio_fluxo').last().json.telefone;\n\nfunction getFieldsToUpdate(currentData, databaseData) {\n  const updates = {};\n\n  if (databaseData.nome && databaseData.nome !== 'nao_informado') {\n    return {};\n  }\n  \n  for (const key in currentData) {\n    if (ignoreFields.includes(key)) continue;\n  \n    const currentValue = currentData[key];\n    const databaseValue = databaseData[key];\n  \n    if (currentValue === 'nao_informado' || currentValue === databaseValue || currentValue === null) continue;\n  \n    updates[key] = currentValue;\n  }\n\n  return updates;\n}\n\nfunction buildUpdateSQL(updates) {\n  const setClauses = Object.entries(updates).map(\n    ([key, value]) => {\n      if (key != 'is_dentista')\n      {\n      return `${key} = '${value.replace(/'/g, \"''\")}'`\n      } else {\n      return `${key} = ${value}`\n      }\n    }\n  );\n  if (setClauses.length === 0) return null;\n\n  return `UPDATE public.cliente SET ${setClauses.join(', ')}, updated_at = now() WHERE telefone = '${clientePhone}';`;\n}\n\nconst currentLeadData = $('inicio_fluxo').last().json;\nconst databaseLeadData = $('SELECT cliente').last().json;\n\n\nconst updatedLeadData = {...currentLeadData};\n\nconst updates = getFieldsToUpdate(updatedLeadData, databaseLeadData);\nconst sql = buildUpdateSQL(updates);\n\nreturn {\n  sql: sql,\n  updated_fields: updates,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        560
      ],
      "id": "e9403a1a-45db-4fc5-b4e3-b836bc0821c0",
      "name": "CLIENTE - Gerencia Campos Atualização"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *  \nFROM public.cliente \nWHERE telefone = '{{ $('inicio_fluxo').last().json.telefone }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        432,
        576
      ],
      "id": "0cb7e81b-a653-46bb-af2d-a9a60c430450",
      "name": "SELECT cliente após atualizar cadastro",
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cliente",
          "mode": "list",
          "cachedResultName": "cliente"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('inicio_fluxo').last().json.telefone }}",
            "id_usuario": "={{ $('CREATE cadastro cliente EasyAppointments').last().json.id }}",
            "updated_at": "={{ $now }}"
          },
          "matchingColumns": [
            "telefone"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_usuario",
              "displayName": "id_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "id_consulta",
              "displayName": "id_consulta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4032,
        336
      ],
      "id": "84c7840d-ba85-4694-9e6f-ad1c6f217ba1",
      "name": "UPDATE cliente",
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pgql7k4nol2x2v3",
        "table": "m0iyjihu1u1x367",
        "options": {
          "fields": [],
          "where": "=(nome,like,%{{ $('GET procedimento').last().json.nome }}%)~and(servico_categoria_id,eq,{{ $('inicio_fluxo').last().json.unidade }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        2144,
        464
      ],
      "id": "2f94143d-2a35-4ba4-b904-0c9614a9bf2c",
      "name": "GET serviço",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "YMzQJOYYNNqkgSKg",
          "name": "n8n_ortho_x"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Recupera serviço pelo id"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "sessao_agendamento",
          "mode": "list",
          "cachedResultName": "sessao_agendamento"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $('inicio_fluxo').last().json.telefone }}"
            },
            {
              "column": "deletado",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2336,
        464
      ],
      "id": "83f58b00-b2d6-4147-bc48-23dc17cf81ab",
      "name": "SELECT sessao_agendamento",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "sessao_agendamento",
          "mode": "list",
          "cachedResultName": "sessao_agendamento"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('inicio_fluxo').last().json.telefone }}",
            "unidade_id": "={{ $('inicio_fluxo').last().json.unidade }}",
            "atualizado_em": "={{ $now }}",
            "servico_id": "={{ $('GET serviço').last().json.id_easyappointments }}",
            "data_agendamento": "={{ $('inicio_fluxo').last().json.data_agendamento }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unidade_id",
              "displayName": "unidade_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "servico_id",
              "displayName": "servico_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "criado_em",
              "displayName": "criado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "atualizado_em",
              "displayName": "atualizado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "provider_id",
              "displayName": "provider_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "deletado",
              "displayName": "deletado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data_agendamento",
              "displayName": "data_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2784,
        560
      ],
      "id": "e138b2c0-1eec-4ac2-9d35-a0dd4dabbc38",
      "name": "INSERT sessao_agendamento",
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69bcbc97-a66e-49fe-8603-7ee7ea45d5f3",
              "name": "response",
              "value": "=Ainda faltam informações antes de seguir para o agendamento.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3328,
        480
      ],
      "id": "bc03786a-0135-4081-8140-ed7e801d6d6a",
      "name": "Response dados incompletos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69bcbc97-a66e-49fe-8603-7ee7ea45d5f3",
              "name": "response",
              "value": "=Informações necessárias para realizar o agendamento obtidas. Utilize a ferramenta `verifica_disponibilidade_agenda` para entender os horários disponíveis de acordo com a data e hora informada pela pessoa.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4352,
        336
      ],
      "id": "f202de86-409d-475c-b4d1-069d4fd025fb",
      "name": "Response dados completos"
    },
    {
      "parameters": {
        "url": "https://orthox-easyappointments.reyhdo.easypanel.host/index.php/api/v1/customers",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('SELECT cliente').last().json.telefone }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXV0b21hY29lcy5vcnRob3hAZ21haWwuY29tOnJ0azZyeWNAUUhEKm56djB6bW4="
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3328,
        320
      ],
      "id": "8a9ac46d-789f-4b5e-82de-01e05ea4e683",
      "name": "GET customer if exists",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "57e31ebb-a88f-4481-846d-21fc20b9a9e7",
              "leftValue": "={{ $('GET customer if exists').last().json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3536,
        320
      ],
      "id": "3417c884-2151-4e36-8678-0735f2538f1f",
      "name": "IF customer exists"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://orthox-easyappointments.reyhdo.easypanel.host/index.php/api/v1/customers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Basic YXV0b21hY29lcy5vcnRob3hAZ21haWwuY29tOnJ0azZyeWNAUUhEKm56djB6bW4="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"firstName\": \"{{ $('SELECT cliente após atualizar cadastro').last().json.nome }}\",\n  \"phone\": \"{{ $('inicio_fluxo').last().json.telefone }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3776,
        336
      ],
      "id": "0c312ac8-19fa-4ea0-9dca-2c1021e2a077",
      "name": "CREATE cadastro cliente EasyAppointments"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://orthox-easyappointments.reyhdo.easypanel.host/index.php/api/v1/customers/{{ $('GET customer if exists').last().json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Basic YXV0b21hY29lcy5vcnRob3hAZ21haWwuY29tOnJ0azZyeWNAUUhEKm56djB6bW4="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"firstName\": \"{{ $('SELECT cliente após atualizar cadastro').last().json.nome }}\",\n  \"phone\": \"{{ $('inicio_fluxo').last().json.telefone }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3856,
        176
      ],
      "id": "cf65cad0-27e6-4112-ae7a-0ca7acb288d0",
      "name": "UPDATE cadastro cliente EasyAppointments"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT ON (p.nome) p.nome AS procedimento_nome\nFROM procedimentos p\nJOIN exames e ON e.id_procedimento = p.id\nWHERE e.nome % '{{ $('inicio_fluxo').last().json.procedimento }}'\n   OR e.nome_normalizado % '{{ $('inicio_fluxo').last().json.procedimento }}'\n   OR '{{ $('inicio_fluxo').last().json.procedimento }}' <% e.nome\n   OR '{{ $('inicio_fluxo').last().json.procedimento }}' <% e.nome_normalizado\nORDER BY \n  p.nome\n  DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        320
      ],
      "id": "9705690d-fa6e-41e1-972d-5389045e8c46",
      "name": "Procura nome categoria (Similaridade)",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.sessao_agendamento\nSET unidade_id = '{{ $('inicio_fluxo').last().json.unidade }}', servico_id = '{{ $('GET serviço').last().json.id_easyappointments }}', atualizado_em = '{{ $now }}'::timestamptz, data_agendamento = '{{ $('inicio_fluxo').last().json.data_agendamento }}'\nWHERE telefone = '{{ $('inicio_fluxo').last().json.telefone }}'\n  AND deletado = false;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2784,
        368
      ],
      "id": "91303793-8a3f-49c2-b580-b0ffca76047d",
      "name": "UPDATE sessao_agendamento",
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e46b9bb-cd14-4113-8aa9-9dc4fb3f8212",
              "name": "response",
              "value": "Procedimento não encontrado.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1888,
        704
      ],
      "id": "00c18166-0d22-4b4b-9ef7-e2f48fa29b38",
      "name": "Resposta procedimento não encontrado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "393b2f35-07b3-4155-88e9-115a3af1e8fb",
              "leftValue": "={{ $('AI Agent').last().json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1728,
        480
      ],
      "id": "1bed5fa6-f088-4903-854d-f61552bf4f5e",
      "name": "If procedimento encontrado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e46b9bb-cd14-4113-8aa9-9dc4fb3f8212",
              "name": "response",
              "value": "Identifique a unidade, procedimento e a data que a pessoa deseja",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        880
      ],
      "id": "cf34dc40-3819-48fc-8f64-a0f5ae08b96f",
      "name": "Resposta unidade/procedimento/data não informado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c067dced-6c6e-44d2-94f4-7941f8d429d3",
              "leftValue": "={{ $('inicio_fluxo').last().json.procedimento }}",
              "rightValue": "nao_informado",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "41e22d5a-96d0-4acf-9f5a-24fdbdf35435",
              "leftValue": "={{ $('inicio_fluxo').last().json.unidade }}",
              "rightValue": "nao_informado",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "040cfba8-3e00-462e-99e3-fd8545570753",
              "leftValue": "={{ $('inicio_fluxo').last().json.data_agendamento }}",
              "rightValue": "nao_informado",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        656,
        576
      ],
      "id": "2bf5a494-31ec-449a-b822-24f4cd4bdeae",
      "name": "Existe unidade, procedimento e data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nome_normalizado,id_procedimento FROM exames",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        496
      ],
      "id": "3e45d110-f122-425d-b0b8-01ddf04bd3d7",
      "name": "GET exames",
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente de uma clínica ortodôntica. Entrada: \"{{ $('inicio_fluxo').last().json.procedimento }}\".\nA lista de exames válida e suas respectivas categorias: {{ $json.examList }}\n\nREGRAS OBRIGATÓRIAS:\n1) Você DEVE encontrar o exame da lista que mais se aproxima ao desejado pelo paciente.\n2) Você DEVE retornar APENAS um único objeto JSON bruto, sem texto adicional, sem explicações, sem backticks, sem campos externos/extras. Nada além do JSON.\n3) O JSON deve obedecer estritamente este schema:\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"nome_normalizado\": { \"type\": \"string\" },\n    \"id_procedimento\": { \"type\": \"integer\" }\n  },\n  \"required\": [\"nome_normalizado\",\"id_procedimento\"],\n  \"additionalProperties\": false\n}\n4) **id_procedimento deve ser um número inteiro JSON (sem aspas).**\n5) Se não encontrar um exame adequado, retorne:\n   {\"nome_normalizado\": null, \"id_procedimento\": null}\n   (novamente: objeto JSON único, e id como `null`, não como string.)\n6) Se houver ambiguidade, escolha o exame mais próximo pelo nome; ainda assim retorne um único objeto válido.\n7) **Não** inclua chaves como \"output\", \"result\", \"data\", etc — apenas o objeto acima.\n\nExemplo de saída VÁLIDA (exatamente esse formato):\n{\"nome_normalizado\":\"Mão e punho\",\"id_procedimento\":1}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1312,
        496
      ],
      "id": "ad8282dd-1d12-4ae4-9d34-18c3e42f1e55",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1312,
        672
      ],
      "id": "66eedbec-b4e2-4f2e-b31d-29f1cb9d71ae",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ER0I3fZmmkBwmDBr",
          "name": "OpenAi ni.automacoes"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"nome_normalizado\": \"string\",\n  \"id_procedimento\": 1\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1456,
        672
      ],
      "id": "7eeb320a-cb53-47db-b995-18a00ec18bbf",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "projectId": "pgql7k4nol2x2v3",
        "table": "mwssvzqs1y3sgza",
        "id": "={{ $('If procedimento encontrado').last().json.output.id_procedimento }}"
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1952,
        464
      ],
      "id": "a3e512d3-1518-4253-8847-ab9b754031aa",
      "name": "GET procedimento",
      "credentials": {
        "nocoDbApiToken": {
          "id": "YMzQJOYYNNqkgSKg",
          "name": "n8n_ortho_x"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const exams = $('GET exames').all().map(item => item.json);\n\nconst formattedList = exams.map(e => `${e.nome_normalizado}: ${e.id_procedimento}`).join(\"\\n\");\n\nreturn [\n  {\n    json: {\n      examList: formattedList\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        496
      ],
      "id": "e076fda8-4768-4b4c-86a5-60795ab16695",
      "name": "Converte JSON para texto"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1bc3ac90-874d-4f2f-b695-c022ea113459",
              "leftValue": "={{ $('SELECT sessao_agendamento').last().json.keys() }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2512,
        464
      ],
      "id": "045d8726-636d-4cee-b581-957c447ae602",
      "name": "IF sessao_agendamento existe"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c491140-8871-4895-b5a4-5ece9ecd7657",
              "name": "response",
              "value": "=Explique para o usuário que para falar com um humano é necessário obter o nome e se o usuário é um dentista. Solicite esses dados seguindo o processo definido.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        704
      ],
      "id": "4828444c-9ac0-4a50-8524-11bf195faf14",
      "name": "Retorno solicitação de dados para Agente Executor"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ed71f13a-7bf3-42ab-898c-37582401f713",
              "leftValue": "={{ $('inicio_fluxo').last().json.falar_com_humano }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        720
      ],
      "id": "7d8ce78e-8096-4497-9a95-504ecbc74839",
      "name": "Falar com humano?"
    }
  ],
  "pinData": {
    "inicio_fluxo": [
      {
        "json": {
          "telefone": "19998219987",
          "nome": "nao_informado",
          "unidade": "4",
          "procedimento": "Análise cefalométrica",
          "data_agendamento": "2025-09-27",
          "is_dentista": false,
          "falar_com_humano": false
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2025-09-19T13:49:49.428Z",
      "createdAt": "2025-09-19T13:49:49.428Z",
      "role": "workflow:owner",
      "workflowId": "CDA6j4DP5uFZa7JA",
      "projectId": "IcfJLMCsRkuOqzR8"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-23T21:07:22.000Z",
  "versionId": "7c606fa3-b13d-4644-ab83-9445cd6f68d2"
}