workflows/Cadastro Usuário V5 | EasyAppointments.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-12T19:58:16.393Z",
    "createdAt": "2026-01-12T19:58:16.393Z",
    "versionId": "1b9a54c3-3626-4b48-9b08-e8f68a02e00f",
    "workflowId": "ysnhHcfKAcnFShkM",
    "nodes": [
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "68a0e166-9a2a-4dda-a26c-e1ac1e647bf8",
                "leftValue": "={{ $('SELECT cliente após atualizar cadastro').last().json.nome }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1232,
          192
        ],
        "id": "ba313d0f-7ce7-4862-9861-afb606f3ec55",
        "name": "IF dados completos"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "77cd45d0-845f-4199-b276-05c15afc7180",
                "leftValue": "={{ $('CLIENTE - Gerencia Campos Atualização').last().json.sql }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -5968,
          352
        ],
        "id": "2c16d46e-be7b-4dcb-a24b-970c9149c7a2",
        "name": "IF existe SQL"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "{{ $('CLIENTE - Gerencia Campos Atualização').last().json.sql }}",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -5744,
          288
        ],
        "id": "6d2d9b45-e8f7-4ae2-a8f4-cbeefa0647ee",
        "name": "UPDATE Cliente",
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "telefone"
              },
              {
                "name": "nome"
              },
              {
                "name": "convenio"
              },
              {
                "name": "unidade"
              },
              {
                "name": "procedimento"
              },
              {
                "name": "data_agendamento"
              },
              {
                "name": "eh_dentista",
                "type": "boolean"
              },
              {
                "name": "falar_com_humano",
                "type": "boolean"
              },
              {
                "name": "eh_indicacao_dentista"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -6640,
          352
        ],
        "id": "5c70659d-2479-4390-9e7c-ba7aa05e59c4",
        "name": "inicio_fluxo"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT *  \nFROM public.cliente \nWHERE telefone = '{{ $('inicio_fluxo').last().json.telefone }}';\n",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -6416,
          352
        ],
        "id": "3f658568-3be5-4c6e-a575-bc47feafc0d8",
        "name": "SELECT cliente",
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const ignoreFields = ['telefone', 'unidade', 'convenio', 'procedimento', 'data_agendamento', 'falar_com_humano', 'eh_indicacao_dentista']\n\n// Para que esse código funcione corretamente, os nomes dos campos recebidos no workflow devem ser os MESMOS que as COLUNAS da tabela do lead\nconst clientePhone = $('inicio_fluxo').last().json.telefone;\n\nfunction getFieldsToUpdate(currentData, databaseData) {\n  const updates = {};\n\n  if (databaseData.nome && databaseData.nome !== 'nao_informado') {\n    return {};\n  }\n  \n  for (const key in currentData) {\n    if (ignoreFields.includes(key)) continue;\n  \n    const currentValue = currentData[key];\n    const databaseValue = databaseData[key];\n  \n    if (currentValue === 'nao_informado' || currentValue === databaseValue || currentValue === null) continue;\n  \n    updates[key] = currentValue;\n  }\n\n  return updates;\n}\n\nfunction buildUpdateSQL(updates) {\n  const setClauses = Object.entries(updates).map(\n    ([key, value]) => {\n      if (key != 'eh_dentista')\n      {\n        return `${key} = '${value.replace(/'/g, \"''\")}'`\n      } else if (key == 'eh_dentista') \n      {\n        return `is_dentista = ${value}`\n      } else {\n        return `${key} = ${value}`\n      }\n    }\n  );\n  if (setClauses.length === 0) return null;\n\n  return `UPDATE public.cliente SET ${setClauses.join(', ')}, updated_at = now() WHERE telefone = '${clientePhone}';`;\n}\n\nconst currentLeadData = $('inicio_fluxo').last().json;\nconst databaseLeadData = $('SELECT cliente').last().json;\n\n\nconst updatedLeadData = {...currentLeadData};\n\nconst updates = getFieldsToUpdate(updatedLeadData, databaseLeadData);\nconst sql = buildUpdateSQL(updates);\n\nreturn {\n  sql: sql,\n  updated_fields: updates,\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -6192,
          352
        ],
        "id": "94257858-898e-42bd-9200-7dc477c37e91",
        "name": "CLIENTE - Gerencia Campos Atualização"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT *  \nFROM public.cliente \nWHERE telefone = '{{ $('inicio_fluxo').last().json.telefone }}';\n",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -5520,
          368
        ],
        "id": "46b04e12-1f65-4435-a910-b3d4cda0bcf5",
        "name": "SELECT cliente após atualizar cadastro",
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        }
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "cliente",
            "mode": "list",
            "cachedResultName": "cliente"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "telefone": "={{ $('inicio_fluxo').last().json.telefone }}",
              "id_usuario": "={{ $('CREATE cadastro cliente EasyAppointments').last().json.id }}",
              "updated_at": "={{ $now }}"
            },
            "matchingColumns": [
              "telefone"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "nome",
                "displayName": "nome",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "email",
                "displayName": "email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": true
              },
              {
                "id": "telefone",
                "displayName": "telefone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "id_usuario",
                "displayName": "id_usuario",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "id_consulta",
                "displayName": "id_consulta",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false,
                "removed": true
              },
              {
                "id": "created_at",
                "displayName": "created_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false,
                "removed": true
              },
              {
                "id": "updated_at",
                "displayName": "updated_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -336,
          192
        ],
        "id": "3b008a2d-a89b-49ea-b4d6-cf7282253286",
        "name": "UPDATE cliente",
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "sessao_agendamento",
            "mode": "list",
            "cachedResultName": "sessao_agendamento"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "telefone",
                "value": "={{ $('inicio_fluxo').last().json.telefone }}"
              },
              {
                "column": "deletado",
                "value": "={{ false }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1904,
          192
        ],
        "id": "0d7df8f7-b70d-412d-99d5-501aca82f0cc",
        "name": "SELECT sessao_agendamento",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "69bcbc97-a66e-49fe-8603-7ee7ea45d5f3",
                "name": "response",
                "value": "=Ainda faltam informações antes de seguir para o agendamento.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1008,
          288
        ],
        "id": "9cfd6e90-5799-4001-be77-78f5482cfc4c",
        "name": "Response dados incompletos"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "69bcbc97-a66e-49fe-8603-7ee7ea45d5f3",
                "name": "response",
                "value": "=Informações necessárias para realizar o agendamento obtidas. Utilize a ferramenta `verifica_disponibilidade_agenda` para entender os horários disponíveis de acordo com a data e hora informada pela pessoa.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          112,
          192
        ],
        "id": "77cb7202-2dd7-4da4-a3ca-98af062995ba",
        "name": "Response dados completos"
      },
      {
        "parameters": {
          "url": "https://orthox-easyappointments.reyhdo.easypanel.host/index.php/api/v1/customers",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $('SELECT cliente').last().json.telefone }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Basic YXV0b21hY29lcy5vcnRob3hAZ21haWwuY29tOnJ0azZyeWNAUUhEKm56djB6bW4="
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1008,
          96
        ],
        "id": "da13f883-d715-43ff-8253-047aa7e19507",
        "name": "GET customer if exists",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "57e31ebb-a88f-4481-846d-21fc20b9a9e7",
                "leftValue": "={{ $('GET customer if exists').last().json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -784,
          96
        ],
        "id": "fb0f9e5f-9c4e-492b-9a11-55033df13552",
        "name": "IF customer exists"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://orthox-easyappointments.reyhdo.easypanel.host/index.php/api/v1/customers",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "accept",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "Basic YXV0b21hY29lcy5vcnRob3hAZ21haWwuY29tOnJ0azZyeWNAUUhEKm56djB6bW4="
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"firstName\": \"{{ $('SELECT cliente após atualizar cadastro').last().json.nome }}\",\n  \"phone\": \"{{ $('inicio_fluxo').last().json.telefone }}\"\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -560,
          192
        ],
        "id": "0fcc5fcc-9728-4ea0-bc97-b5cd2d9e7050",
        "name": "CREATE cadastro cliente EasyAppointments"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://orthox-easyappointments.reyhdo.easypanel.host/index.php/api/v1/customers/{{ $('GET customer if exists').last().json.id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "accept",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "Basic YXV0b21hY29lcy5vcnRob3hAZ21haWwuY29tOnJ0azZyeWNAUUhEKm56djB6bW4="
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"firstName\": \"{{ $('SELECT cliente após atualizar cadastro').last().json.nome }}\",\n  \"phone\": \"{{ $('inicio_fluxo').last().json.telefone }}\"\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -448,
          0
        ],
        "id": "ee56898b-dc70-46aa-9fd0-56c6e5498966",
        "name": "UPDATE cadastro cliente EasyAppointments"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE public.sessao_agendamento\nSET\n  unidade_id = COALESCE(NULLIF('{{ $('inicio_fluxo').last().json.unidade }}','nao_informado'), unidade_id),\n  servico_id = COALESCE(NULLIF('{{ $('GET serviço').last().json.id_easyappointments }}','nao_informado'), servico_id),\n  data_agendamento = COALESCE(NULLIF('{{ $('inicio_fluxo').last().json.data_agendamento }}','nao_informado'), data_agendamento),\n  convenio = COALESCE(NULLIF('{{ $('inicio_fluxo').last().json.convenio }}','nao_informado'), convenio),\n  atualizado_em = '{{ $now }}'\nWHERE telefone = '{{ $('inicio_fluxo').last().json.telefone }}'\n  AND deletado = false;\n",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1456,
          192
        ],
        "id": "619c0e04-0ccc-4ab7-b846-982730a4f0e9",
        "name": "UPDATE sessao_agendamento",
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5e46b9bb-cd14-4113-8aa9-9dc4fb3f8212",
                "name": "response",
                "value": "Procedimento não encontrado.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2128,
          416
        ],
        "id": "1edfdf2f-5dc3-4acb-be35-0e95c8e362da",
        "name": "Resposta procedimento não encontrado"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "393b2f35-07b3-4155-88e9-115a3af1e8fb",
                "leftValue": "={{ $('AI Agent').last().json }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -2352,
          240
        ],
        "id": "628f1b67-c53c-473c-ac29-503ca19192f6",
        "name": "If procedimento encontrado"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5e46b9bb-cd14-4113-8aa9-9dc4fb3f8212",
                "name": "response",
                "value": "CERTIFIQUE-SE QUE PERGUNTOU sobre a unidade, procedimento, data que a pessoa deseja, se vai utilizar convênio e nome do convênio ou particular.\n\nTenha CERTEZA de que nenhum valor é null antes de continuar. Lembre-se que caso a pessoa não tenha sido indicada por ninguém, o valor 'Ninguém' deve ser utilizado.\n\nNUNCA execute a ferramenta `verifica_disponibilidade_agenda` se receber essa mensagem.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -3136,
          608
        ],
        "id": "fd2e5a20-4c7b-4880-8da0-9127ede0484e",
        "name": "Resposta unidade/procedimento/data não informado"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT nome_normalizado,id_procedimento FROM exames",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -3136,
          320
        ],
        "id": "90fc5846-e5d1-4bd7-a966-f53c4ad72afe",
        "name": "GET exames",
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Você é um assistente de uma clínica ortodôntica. Entrada: \"{{ (() => {\n  try {\n    return $('SELECT sessao_agendamento loop').last().json?.procedimento;\n  } catch (e) {\n    return $('SELECT sessao_agendamento inicio').last().json?.procedimento;\n  }\n})() }}\".\nA lista de exames válida e suas respectivas categorias: {{ $json.examList }}\n\nREGRAS OBRIGATÓRIAS:\n1) Você DEVE encontrar o exame da lista que mais se aproxima ao desejado pelo paciente.\n2) Você DEVE retornar APENAS um único objeto JSON bruto, sem texto adicional, sem explicações, sem backticks, sem campos externos/extras. Nada além do JSON.\n3) O JSON deve obedecer estritamente este schema:\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"nome_normalizado\": { \"type\": \"string\" },\n    \"id_procedimento\": { \"type\": \"integer\" }\n  },\n  \"required\": [\"nome_normalizado\",\"id_procedimento\"],\n  \"additionalProperties\": false\n}\n4) **id_procedimento deve ser um número inteiro JSON (sem aspas).**\n5) Se não encontrar um exame adequado, retorne:\n   {\"nome_normalizado\": null, \"id_procedimento\": null}\n   (novamente: objeto JSON único, e id como `null`, não como string.)\n6) Se houver ambiguidade, escolha o exame mais próximo pelo nome; ainda assim retorne um único objeto válido.\n7) **Não** inclua chaves como \"output\", \"result\", \"data\", etc — apenas o objeto acima.\n\nExemplo de saída VÁLIDA (exatamente esse formato):\n{\"nome_normalizado\":\"Mão e punho\",\"id_procedimento\":1}\n",
          "hasOutputParser": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -2704,
          320
        ],
        "id": "592d6b0c-15a9-4cb8-8e3a-909fe06c5019",
        "name": "AI Agent",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -2704,
          544
        ],
        "id": "d9564aed-43c8-49a5-9e78-164da46627c6",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "ER0I3fZmmkBwmDBr",
            "name": "OpenAi ni.automacoes"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"nome_normalizado\": \"string\",\n  \"id_procedimento\": 1\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -2560,
          544
        ],
        "id": "c124ffb1-8257-4b74-813b-ddfd70e2e38a",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "jsCode": "const exams = $('GET exames').all().map(item => item.json);\n\nconst formattedList = exams.map(e => `${e.nome_normalizado}: ${e.id_procedimento}`).join(\"\\n\");\n\nreturn [\n  {\n    json: {\n      examList: formattedList\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2912,
          320
        ],
        "id": "da27d410-afae-4541-a265-5e5c45f1b788",
        "name": "Converte JSON para texto"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0c491140-8871-4895-b5a4-5ece9ecd7657",
                "name": "response",
                "value": "=Explique para o usuário que para falar com um humano é necessário obter o nome e se o usuário é um dentista. Solicite esses dados seguindo o processo definido.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -4848,
          272
        ],
        "id": "f2b8f359-5554-4c3a-8e99-4ab7a86205bf",
        "name": "Retorno solicitação de dados para Agente Executor"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "ed71f13a-7bf3-42ab-898c-37582401f713",
                "leftValue": "={{ $('inicio_fluxo').last().json.falar_com_humano }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -5072,
          368
        ],
        "id": "a08115e5-695f-4911-aab9-c1c880cd9731",
        "name": "Falar com humano?"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "t6ds4kP8JAt72hIz",
            "mode": "list",
            "cachedResultUrl": "/workflow/t6ds4kP8JAt72hIz",
            "cachedResultName": "Cobertura Convênios"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "telefone": "={{ $('inicio_fluxo').last().json.telefone }}",
              "nome_exame": "={{ $('If procedimento encontrado').last().json.output.nome_normalizado }}"
            },
            "matchingColumns": [
              "telefone"
            ],
            "schema": [
              {
                "id": "telefone",
                "displayName": "telefone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "nome_exame",
                "displayName": "nome_exame",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          480,
          -112
        ],
        "id": "88c68a18-497b-4f21-8bee-9526f2e26720",
        "name": "Verifica convênio"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "87ce1e71-d4fb-44c0-8b02-89e938045f14",
                "leftValue": "={{ $('SELECT sessao_agendamento').last().json.convenio }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              },
              {
                "id": "ec580ff9-6e04-45dd-b901-3f72200d873b",
                "leftValue": "={{ $('SELECT sessao_agendamento').last().json.convenio }}",
                "rightValue": "particular",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "3f7b8b79-a2e7-4b61-8e43-638b2c0533be",
                "leftValue": "={{ $('SELECT sessao_agendamento').last().json.convenio }}",
                "rightValue": "nao_informado",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "2df2aada-eb93-4a9f-85b4-92c86e30e1de",
                "leftValue": "={{ $('SELECT sessao_agendamento').last().json.convenio }}",
                "rightValue": "Particular",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -112,
          96
        ],
        "id": "a1777014-7bc2-44bc-bbba-c4f4783b174b",
        "name": "IF cliente usa convênio"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "317f4790-eaac-47ba-9993-3a97dc8279ce",
                "leftValue": "={{ $('Verifica convênio').last().json.response }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          880,
          -112
        ],
        "id": "e4e8e47d-eb0b-431d-b6a6-4c6556f8c03c",
        "name": "IF convênio cobre exame"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "69bcbc97-a66e-49fe-8603-7ee7ea45d5f3",
                "name": "response",
                "value": "=Informações necessárias para realizar o agendamento obtidas. O convênio realiza o exame solicitado pelo usuário. Utilize a ferramenta `verifica_disponibilidade_agenda` para entender os horários disponíveis de acordo com a data e hora informada pela pessoa.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1104,
          -240
        ],
        "id": "f60e5d4d-b3b1-4357-801d-76fd07896c7c",
        "name": "Response dados completos com convênio"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "69bcbc97-a66e-49fe-8603-7ee7ea45d5f3",
                "name": "response",
                "value": "=Informe o usuário que o exame solicitado não é coberto pelo seu convênio. Pergunte se deseja contato com um humano e utilize a ferramenta `falar_com_humano` se confirmar.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1104,
          -16
        ],
        "id": "56d0ecc0-96dd-49cd-b4f3-66868f3e7698",
        "name": "Response dados completos sem convênio"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c067dced-6c6e-44d2-94f4-7941f8d429d3",
                "leftValue": "={{ $('SELECT sessao_agendamento inicio').last().json.procedimento }}",
                "rightValue": "nao_informado",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              },
              {
                "id": "41e22d5a-96d0-4acf-9f5a-24fdbdf35435",
                "leftValue": "={{ $('SELECT sessao_agendamento inicio').last().json.unidade_id }}",
                "rightValue": "nao_informado",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              },
              {
                "id": "040cfba8-3e00-462e-99e3-fd8545570753",
                "leftValue": "={{ $('SELECT sessao_agendamento inicio').last().json.data_agendamento }}",
                "rightValue": "nao_informado",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              },
              {
                "id": "36ba030a-d04f-40a6-8b91-a400be8cd078",
                "leftValue": "={{ $('SELECT sessao_agendamento inicio').last().json.convenio }}",
                "rightValue": "nao_informado",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -4848,
          464
        ],
        "id": "bfe7bdf5-7b1a-4ed4-95f3-27419139f11b",
        "name": "Existe unidade, procedimento, data e convenio"
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "sessao_agendamento",
            "mode": "list",
            "cachedResultName": "sessao_agendamento"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "telefone": "={{ $('Limpar nao_informado1').last().json.telefone }}",
              "unidade_id": "={{ $('Limpar nao_informado1').last().json.unidade_id }}",
              "atualizado_em": "={{ $now }}",
              "data_agendamento": "={{ $('Limpar nao_informado1').last().json.data_agendamento }}",
              "convenio": "={{ $('Limpar nao_informado1').last().json.convenio }}",
              "procedimento": "={{ $('Limpar nao_informado1').last().json.procedimento }}",
              "dentista": "={{ $('Limpar nao_informado1').last().json.dentista }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "telefone",
                "displayName": "telefone",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "unidade_id",
                "displayName": "unidade_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "servico_id",
                "displayName": "servico_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "criado_em",
                "displayName": "criado_em",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "atualizado_em",
                "displayName": "atualizado_em",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              },
              {
                "id": "provider_id",
                "displayName": "provider_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "deletado",
                "displayName": "deletado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "boolean",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "data_agendamento",
                "displayName": "data_agendamento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "convenio",
                "displayName": "convenio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "procedimento",
                "displayName": "procedimento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "dentista",
                "displayName": "dentista",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -3968,
          656
        ],
        "id": "594bd11d-1dbb-4156-8020-10ee3e0b0082",
        "name": "INSERT sessao_agendamento1",
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE public.sessao_agendamento\nSET\n  unidade_id = COALESCE(NULLIF('{{ $('inicio_fluxo').last().json.unidade }}','nao_informado'), unidade_id),\n  data_agendamento = COALESCE(NULLIF('{{ $('inicio_fluxo').last().json.data_agendamento }}','nao_informado'), data_agendamento),\n  convenio = COALESCE(NULLIF('{{ $('inicio_fluxo').last().json.convenio }}','nao_informado'), convenio),\n  dentista = COALESCE(NULLIF('{{ $('inicio_fluxo').last().json.eh_indicacao_dentista }}','nao_informado'), dentista),\n  atualizado_em = '{{ $now }}',\n  procedimento = COALESCE(NULLIF('{{ $('inicio_fluxo').last().json.procedimento }}','nao_informado'), procedimento)\nWHERE telefone = '{{ $('inicio_fluxo').last().json.telefone }}'\n  AND deletado = false;\n",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -3968,
          448
        ],
        "id": "b42b5fca-db36-4cf1-b2d7-405976ff24b6",
        "name": "UPDATE sessao_agendamento1",
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "1bc3ac90-874d-4f2f-b695-c022ea113459",
                "leftValue": "={{ $('SELECT sessao_agendamento inicio').last().json.keys() }}",
                "rightValue": 0,
                "operator": {
                  "type": "array",
                  "operation": "lengthGt",
                  "rightType": "number"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -4416,
          592
        ],
        "id": "487a69e5-c1a4-48f1-8ec2-d3d9968acef9",
        "name": "IF sessao_agendamento existe1"
      },
      {
        "parameters": {
          "jsCode": "const data = $('inicio_fluxo').last().json;\n\nfunction clean(val) {\n  return val === 'nao_informado' ? null : val;\n}\n\nreturn [{\n  json: {\n    telefone: data.telefone,\n    unidade_id: clean(data.unidade),\n    data_agendamento: clean(data.data_agendamento),\n    convenio: clean(data.convenio),\n    dentista: clean(data.eh_indicacao_dentista),\n    procedimento: clean(data.procedimento),\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4192,
          656
        ],
        "id": "5e5438cc-2ae0-4b9b-a72e-859439c848e9",
        "name": "Limpar nao_informado1"
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "sessao_agendamento",
            "mode": "list",
            "cachedResultName": "sessao_agendamento"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "telefone",
                "value": "={{ $('inicio_fluxo').last().json.telefone }}"
              },
              {
                "column": "deletado",
                "value": "={{ false }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -5296,
          368
        ],
        "id": "364afe7e-cf8f-4fce-9ce3-7e711ad4e090",
        "name": "SELECT sessao_agendamento inicio",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c067dced-6c6e-44d2-94f4-7941f8d429d3",
                "leftValue": "={{ $('SELECT sessao_agendamento loop').last().json.procedimento }}",
                "rightValue": "nao_informado",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              },
              {
                "id": "41e22d5a-96d0-4acf-9f5a-24fdbdf35435",
                "leftValue": "={{ $('SELECT sessao_agendamento loop').last().json.unidade_id }}",
                "rightValue": "nao_informado",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              },
              {
                "id": "040cfba8-3e00-462e-99e3-fd8545570753",
                "leftValue": "={{ $('SELECT sessao_agendamento loop').last().json.data_agendamento }}",
                "rightValue": "nao_informado",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              },
              {
                "id": "36ba030a-d04f-40a6-8b91-a400be8cd078",
                "leftValue": "={{ $('SELECT sessao_agendamento loop').last().json.convenio }}",
                "rightValue": "nao_informado",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -3520,
          544
        ],
        "id": "1db9df90-8caa-4a33-89ee-3ff6e4ed70a3",
        "name": "Existe unidade, procedimento, data e convenio1"
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "sessao_agendamento",
            "mode": "list",
            "cachedResultName": "sessao_agendamento"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "telefone",
                "value": "={{ $('inicio_fluxo').last().json.telefone }}"
              },
              {
                "column": "deletado",
                "value": "={{ false }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -3728,
          544
        ],
        "id": "62de34cd-77f5-472f-8b6c-dafdcf229c8e",
        "name": "SELECT sessao_agendamento loop",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "64dcd790-dce9-4afe-8c76-21c650256106",
                "leftValue": "={{ (() => {\n  const db = $('SELECT sessao_agendamento inicio').last().json;\n  const fluxo = $('inicio_fluxo').last().json;\n\n  function different(fieldDb, fieldFluxo) {\n    return fieldFluxo !== 'nao_informado' && fieldFluxo != fieldDb;\n  }\n\n  return (\n    different(db.unidade_id, fluxo.unidade) ||\n    different(db.procedimento, fluxo.procedimento) ||\n    different(db.data_agendamento, fluxo.data_agendamento) ||\n    different(db.convenio, fluxo.convenio)\n  );\n})() }}",
                "rightValue": "true",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -4192,
          304
        ],
        "id": "845e9891-b769-4046-b40b-dc05a950af82",
        "name": "IF parametros changed"
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "procedimentos",
            "mode": "list",
            "cachedResultName": "procedimentos"
          },
          "returnAll": true,
          "where": {
            "values": [
              {
                "column": "id",
                "value": "={{ $('If procedimento encontrado').last().json.output.id_procedimento }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -2128,
          192
        ],
        "id": "11f736f7-36bb-450c-94aa-46cab9ae2503",
        "name": "GET procedimento",
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "servico",
            "mode": "list",
            "cachedResultName": "servico"
          },
          "where": {
            "values": [
              {
                "column": "nome",
                "condition": "LIKE",
                "value": "=%{{ $('GET procedimento').last().json.nome }}%"
              },
              {
                "column": "servico_categoria_id",
                "value": "={{ $('SELECT sessao_agendamento').last().json.unidade_id }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1680,
          192
        ],
        "id": "7fafcd11-a9f7-4436-9fd8-8a552a1b4ca0",
        "name": "GET serviço",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "cOhUd6GHS90HZOMJ",
            "name": "Postgres Ortho X"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "content": "## Checagem do `sessao_agendamento`\nVerifica se existem todos os dados da sessão atual na tabela `sessao_agendamento`\n- Convênio/Particular\n- Unidade\n- Procedimento\n- Data\n\nCaso não exista, cria com os dados parciais.\nCaso já exista, atualiza com os dados adicionais.\nCaso já tenha todos os dados: se alguma coisa mudou, atualiza; senão só continua o fluxo.",
          "height": 848,
          "width": 1216,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -4528,
          32
        ],
        "typeVersion": 1,
        "id": "f9f9e132-01f1-44b9-8acb-1fcbdc86776c",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Agente que retorna nome normalizado do procedimento\nRecebe uma lista de todos procedimentos e o procedimento que o cliente pediu, e retorna o nome correto mais próximo.\nPor exemplo: cliente requisita \"raio x panoramico sem laudo\", IA retorna \"panorâmica sem laudo (entrega imediata)\"",
          "height": 576,
          "width": 736,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -2944,
          112
        ],
        "typeVersion": 1,
        "id": "10210a3a-5e1d-4c4e-a6d9-0c2fa3fe6c33",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Salva ID do cliente do EasyAppointments no nosso banco local",
          "height": 464,
          "width": 608,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -800,
          -80
        ],
        "typeVersion": 1,
        "id": "f8b6835b-2dec-4c00-bd90-992e77254be8",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "69bcbc97-a66e-49fe-8603-7ee7ea45d5f3",
                "name": "response",
                "value": "=Informações necessárias para realizar o agendamento obtidas. O convênio realiza o exame solicitado pelo usuário. Utilize a ferramenta `verifica_disponibilidade_agenda` para entender os horários disponíveis de acordo com a data e hora informada pela pessoa.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          -112
        ],
        "id": "b0e29373-65a0-456e-bf8f-aab53e7197c4",
        "name": "Response dados completos com convênio1"
      },
      {
        "parameters": {
          "content": "## PARTE DE CONVENIO DESATIVADA TEMPORARIAMENTE\nEnquanto o banco está sendo atualizado com a nova estrutura\nconvenio\nplanos\nplanos_exames\nexames",
          "height": 448,
          "width": 1248
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          112,
          -272
        ],
        "id": "f6055afd-53b5-493f-bc5b-cfa9834db51a",
        "name": "Sticky Note3"
      }
    ],
    "connections": {
      "IF dados completos": {
        "main": [
          [
            {
              "node": "GET customer if exists",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Response dados incompletos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF existe SQL": {
        "main": [
          [
            {
              "node": "UPDATE Cliente",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SELECT cliente após atualizar cadastro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UPDATE Cliente": {
        "main": [
          [
            {
              "node": "SELECT cliente após atualizar cadastro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "inicio_fluxo": {
        "main": [
          [
            {
              "node": "SELECT cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SELECT cliente": {
        "main": [
          [
            {
              "node": "CLIENTE - Gerencia Campos Atualização",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CLIENTE - Gerencia Campos Atualização": {
        "main": [
          [
            {
              "node": "IF existe SQL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SELECT cliente após atualizar cadastro": {
        "main": [
          [
            {
              "node": "SELECT sessao_agendamento inicio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UPDATE cliente": {
        "main": [
          [
            {
              "node": "IF cliente usa convênio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SELECT sessao_agendamento": {
        "main": [
          [
            {
              "node": "GET serviço",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET customer if exists": {
        "main": [
          [
            {
              "node": "IF customer exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF customer exists": {
        "main": [
          [
            {
              "node": "UPDATE cadastro cliente EasyAppointments",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "CREATE cadastro cliente EasyAppointments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CREATE cadastro cliente EasyAppointments": {
        "main": [
          [
            {
              "node": "UPDATE cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UPDATE cadastro cliente EasyAppointments": {
        "main": [
          [
            {
              "node": "IF cliente usa convênio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UPDATE sessao_agendamento": {
        "main": [
          [
            {
              "node": "IF dados completos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If procedimento encontrado": {
        "main": [
          [
            {
              "node": "GET procedimento",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Resposta procedimento não encontrado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET exames": {
        "main": [
          [
            {
              "node": "Converte JSON para texto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "If procedimento encontrado",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Resposta procedimento não encontrado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Converte JSON para texto": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Falar com humano?": {
        "main": [
          [
            {
              "node": "Retorno solicitação de dados para Agente Executor",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Existe unidade, procedimento, data e convenio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verifica convênio": {
        "main": [
          [
            {
              "node": "IF convênio cobre exame",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF cliente usa convênio": {
        "main": [
          [
            {
              "node": "Response dados completos com convênio1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Response dados completos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF convênio cobre exame": {
        "main": [
          [
            {
              "node": "Response dados completos com convênio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Response dados completos sem convênio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Existe unidade, procedimento, data e convenio": {
        "main": [
          [
            {
              "node": "IF parametros changed",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF sessao_agendamento existe1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF sessao_agendamento existe1": {
        "main": [
          [
            {
              "node": "UPDATE sessao_agendamento1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Limpar nao_informado1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limpar nao_informado1": {
        "main": [
          [
            {
              "node": "INSERT sessao_agendamento1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "INSERT sessao_agendamento1": {
        "main": [
          [
            {
              "node": "SELECT sessao_agendamento loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UPDATE sessao_agendamento1": {
        "main": [
          [
            {
              "node": "SELECT sessao_agendamento loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SELECT sessao_agendamento inicio": {
        "main": [
          [
            {
              "node": "Falar com humano?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SELECT sessao_agendamento loop": {
        "main": [
          [
            {
              "node": "Existe unidade, procedimento, data e convenio1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Existe unidade, procedimento, data e convenio1": {
        "main": [
          [
            {
              "node": "GET exames",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Resposta unidade/procedimento/data não informado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF parametros changed": {
        "main": [
          [
            {
              "node": "UPDATE sessao_agendamento1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GET exames",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET procedimento": {
        "main": [
          [
            {
              "node": "SELECT sessao_agendamento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET serviço": {
        "main": [
          [
            {
              "node": "UPDATE sessao_agendamento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "1b9a54c3-3626-4b48-9b08-e8f68a02e00f",
  "connections": {
    "IF dados completos": {
      "main": [
        [
          {
            "node": "GET customer if exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response dados incompletos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF existe SQL": {
      "main": [
        [
          {
            "node": "UPDATE Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SELECT cliente após atualizar cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE Cliente": {
      "main": [
        [
          {
            "node": "SELECT cliente após atualizar cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inicio_fluxo": {
      "main": [
        [
          {
            "node": "SELECT cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT cliente": {
      "main": [
        [
          {
            "node": "CLIENTE - Gerencia Campos Atualização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLIENTE - Gerencia Campos Atualização": {
      "main": [
        [
          {
            "node": "IF existe SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT cliente após atualizar cadastro": {
      "main": [
        [
          {
            "node": "SELECT sessao_agendamento inicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE cliente": {
      "main": [
        [
          {
            "node": "IF cliente usa convênio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT sessao_agendamento": {
      "main": [
        [
          {
            "node": "GET serviço",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET customer if exists": {
      "main": [
        [
          {
            "node": "IF customer exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF customer exists": {
      "main": [
        [
          {
            "node": "UPDATE cadastro cliente EasyAppointments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CREATE cadastro cliente EasyAppointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREATE cadastro cliente EasyAppointments": {
      "main": [
        [
          {
            "node": "UPDATE cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE cadastro cliente EasyAppointments": {
      "main": [
        [
          {
            "node": "IF cliente usa convênio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE sessao_agendamento": {
      "main": [
        [
          {
            "node": "IF dados completos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If procedimento encontrado": {
      "main": [
        [
          {
            "node": "GET procedimento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta procedimento não encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET exames": {
      "main": [
        [
          {
            "node": "Converte JSON para texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If procedimento encontrado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta procedimento não encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Converte JSON para texto": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Falar com humano?": {
      "main": [
        [
          {
            "node": "Retorno solicitação de dados para Agente Executor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Existe unidade, procedimento, data e convenio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica convênio": {
      "main": [
        [
          {
            "node": "IF convênio cobre exame",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF cliente usa convênio": {
      "main": [
        [
          {
            "node": "Response dados completos com convênio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response dados completos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF convênio cobre exame": {
      "main": [
        [
          {
            "node": "Response dados completos com convênio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response dados completos sem convênio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe unidade, procedimento, data e convenio": {
      "main": [
        [
          {
            "node": "IF parametros changed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF sessao_agendamento existe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF sessao_agendamento existe1": {
      "main": [
        [
          {
            "node": "UPDATE sessao_agendamento1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpar nao_informado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar nao_informado1": {
      "main": [
        [
          {
            "node": "INSERT sessao_agendamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT sessao_agendamento1": {
      "main": [
        [
          {
            "node": "SELECT sessao_agendamento loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE sessao_agendamento1": {
      "main": [
        [
          {
            "node": "SELECT sessao_agendamento loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT sessao_agendamento inicio": {
      "main": [
        [
          {
            "node": "Falar com humano?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT sessao_agendamento loop": {
      "main": [
        [
          {
            "node": "Existe unidade, procedimento, data e convenio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe unidade, procedimento, data e convenio1": {
      "main": [
        [
          {
            "node": "GET exames",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta unidade/procedimento/data não informado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF parametros changed": {
      "main": [
        [
          {
            "node": "UPDATE sessao_agendamento1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET exames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET procedimento": {
      "main": [
        [
          {
            "node": "SELECT sessao_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET serviço": {
      "main": [
        [
          {
            "node": "UPDATE sessao_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-14T20:05:21.884Z",
  "id": "ysnhHcfKAcnFShkM",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Cadastro Usuário V5 | EasyAppointments",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "68a0e166-9a2a-4dda-a26c-e1ac1e647bf8",
              "leftValue": "={{ $('SELECT cliente após atualizar cadastro').last().json.nome }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1232,
        192
      ],
      "id": "ba313d0f-7ce7-4862-9861-afb606f3ec55",
      "name": "IF dados completos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "77cd45d0-845f-4199-b276-05c15afc7180",
              "leftValue": "={{ $('CLIENTE - Gerencia Campos Atualização').last().json.sql }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5968,
        352
      ],
      "id": "2c16d46e-be7b-4dcb-a24b-970c9149c7a2",
      "name": "IF existe SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $('CLIENTE - Gerencia Campos Atualização').last().json.sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5744,
        288
      ],
      "id": "6d2d9b45-e8f7-4ae2-a8f4-cbeefa0647ee",
      "name": "UPDATE Cliente",
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefone"
            },
            {
              "name": "nome"
            },
            {
              "name": "convenio"
            },
            {
              "name": "unidade"
            },
            {
              "name": "procedimento"
            },
            {
              "name": "data_agendamento"
            },
            {
              "name": "eh_dentista",
              "type": "boolean"
            },
            {
              "name": "falar_com_humano",
              "type": "boolean"
            },
            {
              "name": "eh_indicacao_dentista"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -6640,
        352
      ],
      "id": "5c70659d-2479-4390-9e7c-ba7aa05e59c4",
      "name": "inicio_fluxo"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *  \nFROM public.cliente \nWHERE telefone = '{{ $('inicio_fluxo').last().json.telefone }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6416,
        352
      ],
      "id": "3f658568-3be5-4c6e-a575-bc47feafc0d8",
      "name": "SELECT cliente",
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ignoreFields = ['telefone', 'unidade', 'convenio', 'procedimento', 'data_agendamento', 'falar_com_humano', 'eh_indicacao_dentista']\n\n// Para que esse código funcione corretamente, os nomes dos campos recebidos no workflow devem ser os MESMOS que as COLUNAS da tabela do lead\nconst clientePhone = $('inicio_fluxo').last().json.telefone;\n\nfunction getFieldsToUpdate(currentData, databaseData) {\n  const updates = {};\n\n  if (databaseData.nome && databaseData.nome !== 'nao_informado') {\n    return {};\n  }\n  \n  for (const key in currentData) {\n    if (ignoreFields.includes(key)) continue;\n  \n    const currentValue = currentData[key];\n    const databaseValue = databaseData[key];\n  \n    if (currentValue === 'nao_informado' || currentValue === databaseValue || currentValue === null) continue;\n  \n    updates[key] = currentValue;\n  }\n\n  return updates;\n}\n\nfunction buildUpdateSQL(updates) {\n  const setClauses = Object.entries(updates).map(\n    ([key, value]) => {\n      if (key != 'eh_dentista')\n      {\n        return `${key} = '${value.replace(/'/g, \"''\")}'`\n      } else if (key == 'eh_dentista') \n      {\n        return `is_dentista = ${value}`\n      } else {\n        return `${key} = ${value}`\n      }\n    }\n  );\n  if (setClauses.length === 0) return null;\n\n  return `UPDATE public.cliente SET ${setClauses.join(', ')}, updated_at = now() WHERE telefone = '${clientePhone}';`;\n}\n\nconst currentLeadData = $('inicio_fluxo').last().json;\nconst databaseLeadData = $('SELECT cliente').last().json;\n\n\nconst updatedLeadData = {...currentLeadData};\n\nconst updates = getFieldsToUpdate(updatedLeadData, databaseLeadData);\nconst sql = buildUpdateSQL(updates);\n\nreturn {\n  sql: sql,\n  updated_fields: updates,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6192,
        352
      ],
      "id": "94257858-898e-42bd-9200-7dc477c37e91",
      "name": "CLIENTE - Gerencia Campos Atualização"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *  \nFROM public.cliente \nWHERE telefone = '{{ $('inicio_fluxo').last().json.telefone }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5520,
        368
      ],
      "id": "46b04e12-1f65-4435-a910-b3d4cda0bcf5",
      "name": "SELECT cliente após atualizar cadastro",
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cliente",
          "mode": "list",
          "cachedResultName": "cliente"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('inicio_fluxo').last().json.telefone }}",
            "id_usuario": "={{ $('CREATE cadastro cliente EasyAppointments').last().json.id }}",
            "updated_at": "={{ $now }}"
          },
          "matchingColumns": [
            "telefone"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_usuario",
              "displayName": "id_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "id_consulta",
              "displayName": "id_consulta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -336,
        192
      ],
      "id": "3b008a2d-a89b-49ea-b4d6-cf7282253286",
      "name": "UPDATE cliente",
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "sessao_agendamento",
          "mode": "list",
          "cachedResultName": "sessao_agendamento"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $('inicio_fluxo').last().json.telefone }}"
            },
            {
              "column": "deletado",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1904,
        192
      ],
      "id": "0d7df8f7-b70d-412d-99d5-501aca82f0cc",
      "name": "SELECT sessao_agendamento",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69bcbc97-a66e-49fe-8603-7ee7ea45d5f3",
              "name": "response",
              "value": "=Ainda faltam informações antes de seguir para o agendamento.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        288
      ],
      "id": "9cfd6e90-5799-4001-be77-78f5482cfc4c",
      "name": "Response dados incompletos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69bcbc97-a66e-49fe-8603-7ee7ea45d5f3",
              "name": "response",
              "value": "=Informações necessárias para realizar o agendamento obtidas. Utilize a ferramenta `verifica_disponibilidade_agenda` para entender os horários disponíveis de acordo com a data e hora informada pela pessoa.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        192
      ],
      "id": "77cb7202-2dd7-4da4-a3ca-98af062995ba",
      "name": "Response dados completos"
    },
    {
      "parameters": {
        "url": "https://orthox-easyappointments.reyhdo.easypanel.host/index.php/api/v1/customers",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('SELECT cliente').last().json.telefone }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXV0b21hY29lcy5vcnRob3hAZ21haWwuY29tOnJ0azZyeWNAUUhEKm56djB6bW4="
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1008,
        96
      ],
      "id": "da13f883-d715-43ff-8253-047aa7e19507",
      "name": "GET customer if exists",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "57e31ebb-a88f-4481-846d-21fc20b9a9e7",
              "leftValue": "={{ $('GET customer if exists').last().json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -784,
        96
      ],
      "id": "fb0f9e5f-9c4e-492b-9a11-55033df13552",
      "name": "IF customer exists"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://orthox-easyappointments.reyhdo.easypanel.host/index.php/api/v1/customers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Basic YXV0b21hY29lcy5vcnRob3hAZ21haWwuY29tOnJ0azZyeWNAUUhEKm56djB6bW4="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"firstName\": \"{{ $('SELECT cliente após atualizar cadastro').last().json.nome }}\",\n  \"phone\": \"{{ $('inicio_fluxo').last().json.telefone }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        192
      ],
      "id": "0fcc5fcc-9728-4ea0-bc97-b5cd2d9e7050",
      "name": "CREATE cadastro cliente EasyAppointments"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://orthox-easyappointments.reyhdo.easypanel.host/index.php/api/v1/customers/{{ $('GET customer if exists').last().json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Basic YXV0b21hY29lcy5vcnRob3hAZ21haWwuY29tOnJ0azZyeWNAUUhEKm56djB6bW4="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"firstName\": \"{{ $('SELECT cliente após atualizar cadastro').last().json.nome }}\",\n  \"phone\": \"{{ $('inicio_fluxo').last().json.telefone }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        0
      ],
      "id": "ee56898b-dc70-46aa-9fd0-56c6e5498966",
      "name": "UPDATE cadastro cliente EasyAppointments"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.sessao_agendamento\nSET\n  unidade_id = COALESCE(NULLIF('{{ $('inicio_fluxo').last().json.unidade }}','nao_informado'), unidade_id),\n  servico_id = COALESCE(NULLIF('{{ $('GET serviço').last().json.id_easyappointments }}','nao_informado'), servico_id),\n  data_agendamento = COALESCE(NULLIF('{{ $('inicio_fluxo').last().json.data_agendamento }}','nao_informado'), data_agendamento),\n  convenio = COALESCE(NULLIF('{{ $('inicio_fluxo').last().json.convenio }}','nao_informado'), convenio),\n  atualizado_em = '{{ $now }}'\nWHERE telefone = '{{ $('inicio_fluxo').last().json.telefone }}'\n  AND deletado = false;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1456,
        192
      ],
      "id": "619c0e04-0ccc-4ab7-b846-982730a4f0e9",
      "name": "UPDATE sessao_agendamento",
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e46b9bb-cd14-4113-8aa9-9dc4fb3f8212",
              "name": "response",
              "value": "Procedimento não encontrado.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2128,
        416
      ],
      "id": "1edfdf2f-5dc3-4acb-be35-0e95c8e362da",
      "name": "Resposta procedimento não encontrado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "393b2f35-07b3-4155-88e9-115a3af1e8fb",
              "leftValue": "={{ $('AI Agent').last().json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2352,
        240
      ],
      "id": "628f1b67-c53c-473c-ac29-503ca19192f6",
      "name": "If procedimento encontrado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e46b9bb-cd14-4113-8aa9-9dc4fb3f8212",
              "name": "response",
              "value": "CERTIFIQUE-SE QUE PERGUNTOU sobre a unidade, procedimento, data que a pessoa deseja, se vai utilizar convênio e nome do convênio ou particular.\n\nTenha CERTEZA de que nenhum valor é null antes de continuar. Lembre-se que caso a pessoa não tenha sido indicada por ninguém, o valor 'Ninguém' deve ser utilizado.\n\nNUNCA execute a ferramenta `verifica_disponibilidade_agenda` se receber essa mensagem.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3136,
        608
      ],
      "id": "fd2e5a20-4c7b-4880-8da0-9127ede0484e",
      "name": "Resposta unidade/procedimento/data não informado"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nome_normalizado,id_procedimento FROM exames",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3136,
        320
      ],
      "id": "90fc5846-e5d1-4bd7-a966-f53c4ad72afe",
      "name": "GET exames",
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente de uma clínica ortodôntica. Entrada: \"{{ (() => {\n  try {\n    return $('SELECT sessao_agendamento loop').last().json?.procedimento;\n  } catch (e) {\n    return $('SELECT sessao_agendamento inicio').last().json?.procedimento;\n  }\n})() }}\".\nA lista de exames válida e suas respectivas categorias: {{ $json.examList }}\n\nREGRAS OBRIGATÓRIAS:\n1) Você DEVE encontrar o exame da lista que mais se aproxima ao desejado pelo paciente.\n2) Você DEVE retornar APENAS um único objeto JSON bruto, sem texto adicional, sem explicações, sem backticks, sem campos externos/extras. Nada além do JSON.\n3) O JSON deve obedecer estritamente este schema:\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"nome_normalizado\": { \"type\": \"string\" },\n    \"id_procedimento\": { \"type\": \"integer\" }\n  },\n  \"required\": [\"nome_normalizado\",\"id_procedimento\"],\n  \"additionalProperties\": false\n}\n4) **id_procedimento deve ser um número inteiro JSON (sem aspas).**\n5) Se não encontrar um exame adequado, retorne:\n   {\"nome_normalizado\": null, \"id_procedimento\": null}\n   (novamente: objeto JSON único, e id como `null`, não como string.)\n6) Se houver ambiguidade, escolha o exame mais próximo pelo nome; ainda assim retorne um único objeto válido.\n7) **Não** inclua chaves como \"output\", \"result\", \"data\", etc — apenas o objeto acima.\n\nExemplo de saída VÁLIDA (exatamente esse formato):\n{\"nome_normalizado\":\"Mão e punho\",\"id_procedimento\":1}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2704,
        320
      ],
      "id": "592d6b0c-15a9-4cb8-8e3a-909fe06c5019",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2704,
        544
      ],
      "id": "d9564aed-43c8-49a5-9e78-164da46627c6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ER0I3fZmmkBwmDBr",
          "name": "OpenAi ni.automacoes"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"nome_normalizado\": \"string\",\n  \"id_procedimento\": 1\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2560,
        544
      ],
      "id": "c124ffb1-8257-4b74-813b-ddfd70e2e38a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const exams = $('GET exames').all().map(item => item.json);\n\nconst formattedList = exams.map(e => `${e.nome_normalizado}: ${e.id_procedimento}`).join(\"\\n\");\n\nreturn [\n  {\n    json: {\n      examList: formattedList\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2912,
        320
      ],
      "id": "da27d410-afae-4541-a265-5e5c45f1b788",
      "name": "Converte JSON para texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c491140-8871-4895-b5a4-5ece9ecd7657",
              "name": "response",
              "value": "=Explique para o usuário que para falar com um humano é necessário obter o nome e se o usuário é um dentista. Solicite esses dados seguindo o processo definido.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4848,
        272
      ],
      "id": "f2b8f359-5554-4c3a-8e99-4ab7a86205bf",
      "name": "Retorno solicitação de dados para Agente Executor"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ed71f13a-7bf3-42ab-898c-37582401f713",
              "leftValue": "={{ $('inicio_fluxo').last().json.falar_com_humano }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5072,
        368
      ],
      "id": "a08115e5-695f-4911-aab9-c1c880cd9731",
      "name": "Falar com humano?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "t6ds4kP8JAt72hIz",
          "mode": "list",
          "cachedResultUrl": "/workflow/t6ds4kP8JAt72hIz",
          "cachedResultName": "Cobertura Convênios"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('inicio_fluxo').last().json.telefone }}",
            "nome_exame": "={{ $('If procedimento encontrado').last().json.output.nome_normalizado }}"
          },
          "matchingColumns": [
            "telefone"
          ],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome_exame",
              "displayName": "nome_exame",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        480,
        -112
      ],
      "id": "88c68a18-497b-4f21-8bee-9526f2e26720",
      "name": "Verifica convênio"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "87ce1e71-d4fb-44c0-8b02-89e938045f14",
              "leftValue": "={{ $('SELECT sessao_agendamento').last().json.convenio }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "ec580ff9-6e04-45dd-b901-3f72200d873b",
              "leftValue": "={{ $('SELECT sessao_agendamento').last().json.convenio }}",
              "rightValue": "particular",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "3f7b8b79-a2e7-4b61-8e43-638b2c0533be",
              "leftValue": "={{ $('SELECT sessao_agendamento').last().json.convenio }}",
              "rightValue": "nao_informado",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "2df2aada-eb93-4a9f-85b4-92c86e30e1de",
              "leftValue": "={{ $('SELECT sessao_agendamento').last().json.convenio }}",
              "rightValue": "Particular",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -112,
        96
      ],
      "id": "a1777014-7bc2-44bc-bbba-c4f4783b174b",
      "name": "IF cliente usa convênio"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "317f4790-eaac-47ba-9993-3a97dc8279ce",
              "leftValue": "={{ $('Verifica convênio').last().json.response }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        -112
      ],
      "id": "e4e8e47d-eb0b-431d-b6a6-4c6556f8c03c",
      "name": "IF convênio cobre exame"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69bcbc97-a66e-49fe-8603-7ee7ea45d5f3",
              "name": "response",
              "value": "=Informações necessárias para realizar o agendamento obtidas. O convênio realiza o exame solicitado pelo usuário. Utilize a ferramenta `verifica_disponibilidade_agenda` para entender os horários disponíveis de acordo com a data e hora informada pela pessoa.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        -240
      ],
      "id": "f60e5d4d-b3b1-4357-801d-76fd07896c7c",
      "name": "Response dados completos com convênio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69bcbc97-a66e-49fe-8603-7ee7ea45d5f3",
              "name": "response",
              "value": "=Informe o usuário que o exame solicitado não é coberto pelo seu convênio. Pergunte se deseja contato com um humano e utilize a ferramenta `falar_com_humano` se confirmar.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        -16
      ],
      "id": "56d0ecc0-96dd-49cd-b4f3-66868f3e7698",
      "name": "Response dados completos sem convênio"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c067dced-6c6e-44d2-94f4-7941f8d429d3",
              "leftValue": "={{ $('SELECT sessao_agendamento inicio').last().json.procedimento }}",
              "rightValue": "nao_informado",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "41e22d5a-96d0-4acf-9f5a-24fdbdf35435",
              "leftValue": "={{ $('SELECT sessao_agendamento inicio').last().json.unidade_id }}",
              "rightValue": "nao_informado",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "040cfba8-3e00-462e-99e3-fd8545570753",
              "leftValue": "={{ $('SELECT sessao_agendamento inicio').last().json.data_agendamento }}",
              "rightValue": "nao_informado",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "36ba030a-d04f-40a6-8b91-a400be8cd078",
              "leftValue": "={{ $('SELECT sessao_agendamento inicio').last().json.convenio }}",
              "rightValue": "nao_informado",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4848,
        464
      ],
      "id": "bfe7bdf5-7b1a-4ed4-95f3-27419139f11b",
      "name": "Existe unidade, procedimento, data e convenio"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "sessao_agendamento",
          "mode": "list",
          "cachedResultName": "sessao_agendamento"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Limpar nao_informado1').last().json.telefone }}",
            "unidade_id": "={{ $('Limpar nao_informado1').last().json.unidade_id }}",
            "atualizado_em": "={{ $now }}",
            "data_agendamento": "={{ $('Limpar nao_informado1').last().json.data_agendamento }}",
            "convenio": "={{ $('Limpar nao_informado1').last().json.convenio }}",
            "procedimento": "={{ $('Limpar nao_informado1').last().json.procedimento }}",
            "dentista": "={{ $('Limpar nao_informado1').last().json.dentista }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unidade_id",
              "displayName": "unidade_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "servico_id",
              "displayName": "servico_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "criado_em",
              "displayName": "criado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "atualizado_em",
              "displayName": "atualizado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "provider_id",
              "displayName": "provider_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "deletado",
              "displayName": "deletado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data_agendamento",
              "displayName": "data_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "convenio",
              "displayName": "convenio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "procedimento",
              "displayName": "procedimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dentista",
              "displayName": "dentista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3968,
        656
      ],
      "id": "594bd11d-1dbb-4156-8020-10ee3e0b0082",
      "name": "INSERT sessao_agendamento1",
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.sessao_agendamento\nSET\n  unidade_id = COALESCE(NULLIF('{{ $('inicio_fluxo').last().json.unidade }}','nao_informado'), unidade_id),\n  data_agendamento = COALESCE(NULLIF('{{ $('inicio_fluxo').last().json.data_agendamento }}','nao_informado'), data_agendamento),\n  convenio = COALESCE(NULLIF('{{ $('inicio_fluxo').last().json.convenio }}','nao_informado'), convenio),\n  dentista = COALESCE(NULLIF('{{ $('inicio_fluxo').last().json.eh_indicacao_dentista }}','nao_informado'), dentista),\n  atualizado_em = '{{ $now }}',\n  procedimento = COALESCE(NULLIF('{{ $('inicio_fluxo').last().json.procedimento }}','nao_informado'), procedimento)\nWHERE telefone = '{{ $('inicio_fluxo').last().json.telefone }}'\n  AND deletado = false;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3968,
        448
      ],
      "id": "b42b5fca-db36-4cf1-b2d7-405976ff24b6",
      "name": "UPDATE sessao_agendamento1",
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1bc3ac90-874d-4f2f-b695-c022ea113459",
              "leftValue": "={{ $('SELECT sessao_agendamento inicio').last().json.keys() }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4416,
        592
      ],
      "id": "487a69e5-c1a4-48f1-8ec2-d3d9968acef9",
      "name": "IF sessao_agendamento existe1"
    },
    {
      "parameters": {
        "jsCode": "const data = $('inicio_fluxo').last().json;\n\nfunction clean(val) {\n  return val === 'nao_informado' ? null : val;\n}\n\nreturn [{\n  json: {\n    telefone: data.telefone,\n    unidade_id: clean(data.unidade),\n    data_agendamento: clean(data.data_agendamento),\n    convenio: clean(data.convenio),\n    dentista: clean(data.eh_indicacao_dentista),\n    procedimento: clean(data.procedimento),\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4192,
        656
      ],
      "id": "5e5438cc-2ae0-4b9b-a72e-859439c848e9",
      "name": "Limpar nao_informado1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "sessao_agendamento",
          "mode": "list",
          "cachedResultName": "sessao_agendamento"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $('inicio_fluxo').last().json.telefone }}"
            },
            {
              "column": "deletado",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5296,
        368
      ],
      "id": "364afe7e-cf8f-4fce-9ce3-7e711ad4e090",
      "name": "SELECT sessao_agendamento inicio",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c067dced-6c6e-44d2-94f4-7941f8d429d3",
              "leftValue": "={{ $('SELECT sessao_agendamento loop').last().json.procedimento }}",
              "rightValue": "nao_informado",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "41e22d5a-96d0-4acf-9f5a-24fdbdf35435",
              "leftValue": "={{ $('SELECT sessao_agendamento loop').last().json.unidade_id }}",
              "rightValue": "nao_informado",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "040cfba8-3e00-462e-99e3-fd8545570753",
              "leftValue": "={{ $('SELECT sessao_agendamento loop').last().json.data_agendamento }}",
              "rightValue": "nao_informado",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "36ba030a-d04f-40a6-8b91-a400be8cd078",
              "leftValue": "={{ $('SELECT sessao_agendamento loop').last().json.convenio }}",
              "rightValue": "nao_informado",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3520,
        544
      ],
      "id": "1db9df90-8caa-4a33-89ee-3ff6e4ed70a3",
      "name": "Existe unidade, procedimento, data e convenio1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "sessao_agendamento",
          "mode": "list",
          "cachedResultName": "sessao_agendamento"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $('inicio_fluxo').last().json.telefone }}"
            },
            {
              "column": "deletado",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3728,
        544
      ],
      "id": "62de34cd-77f5-472f-8b6c-dafdcf229c8e",
      "name": "SELECT sessao_agendamento loop",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "64dcd790-dce9-4afe-8c76-21c650256106",
              "leftValue": "={{ (() => {\n  const db = $('SELECT sessao_agendamento inicio').last().json;\n  const fluxo = $('inicio_fluxo').last().json;\n\n  function different(fieldDb, fieldFluxo) {\n    return fieldFluxo !== 'nao_informado' && fieldFluxo != fieldDb;\n  }\n\n  return (\n    different(db.unidade_id, fluxo.unidade) ||\n    different(db.procedimento, fluxo.procedimento) ||\n    different(db.data_agendamento, fluxo.data_agendamento) ||\n    different(db.convenio, fluxo.convenio)\n  );\n})() }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4192,
        304
      ],
      "id": "845e9891-b769-4046-b40b-dc05a950af82",
      "name": "IF parametros changed"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "procedimentos",
          "mode": "list",
          "cachedResultName": "procedimentos"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('If procedimento encontrado').last().json.output.id_procedimento }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2128,
        192
      ],
      "id": "11f736f7-36bb-450c-94aa-46cab9ae2503",
      "name": "GET procedimento",
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "servico",
          "mode": "list",
          "cachedResultName": "servico"
        },
        "where": {
          "values": [
            {
              "column": "nome",
              "condition": "LIKE",
              "value": "=%{{ $('GET procedimento').last().json.nome }}%"
            },
            {
              "column": "servico_categoria_id",
              "value": "={{ $('SELECT sessao_agendamento').last().json.unidade_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1680,
        192
      ],
      "id": "7fafcd11-a9f7-4436-9fd8-8a552a1b4ca0",
      "name": "GET serviço",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "cOhUd6GHS90HZOMJ",
          "name": "Postgres Ortho X"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Checagem do `sessao_agendamento`\nVerifica se existem todos os dados da sessão atual na tabela `sessao_agendamento`\n- Convênio/Particular\n- Unidade\n- Procedimento\n- Data\n\nCaso não exista, cria com os dados parciais.\nCaso já exista, atualiza com os dados adicionais.\nCaso já tenha todos os dados: se alguma coisa mudou, atualiza; senão só continua o fluxo.",
        "height": 848,
        "width": 1216,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4528,
        32
      ],
      "typeVersion": 1,
      "id": "f9f9e132-01f1-44b9-8acb-1fcbdc86776c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Agente que retorna nome normalizado do procedimento\nRecebe uma lista de todos procedimentos e o procedimento que o cliente pediu, e retorna o nome correto mais próximo.\nPor exemplo: cliente requisita \"raio x panoramico sem laudo\", IA retorna \"panorâmica sem laudo (entrega imediata)\"",
        "height": 576,
        "width": 736,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2944,
        112
      ],
      "typeVersion": 1,
      "id": "10210a3a-5e1d-4c4e-a6d9-0c2fa3fe6c33",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Salva ID do cliente do EasyAppointments no nosso banco local",
        "height": 464,
        "width": 608,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        -80
      ],
      "typeVersion": 1,
      "id": "f8b6835b-2dec-4c00-bd90-992e77254be8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69bcbc97-a66e-49fe-8603-7ee7ea45d5f3",
              "name": "response",
              "value": "=Informações necessárias para realizar o agendamento obtidas. O convênio realiza o exame solicitado pelo usuário. Utilize a ferramenta `verifica_disponibilidade_agenda` para entender os horários disponíveis de acordo com a data e hora informada pela pessoa.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -112
      ],
      "id": "b0e29373-65a0-456e-bf8f-aab53e7197c4",
      "name": "Response dados completos com convênio1"
    },
    {
      "parameters": {
        "content": "## PARTE DE CONVENIO DESATIVADA TEMPORARIAMENTE\nEnquanto o banco está sendo atualizado com a nova estrutura\nconvenio\nplanos\nplanos_exames\nexames",
        "height": 448,
        "width": 1248
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        -272
      ],
      "id": "f6055afd-53b5-493f-bc5b-cfa9834db51a",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {
    "inicio_fluxo": [
      {
        "json": {
          "telefone": "null",
          "nome": "Kelly Clarkson",
          "convenio": "Omint premium",
          "unidade": "2",
          "procedimento": "tomografia com medidas",
          "data_agendamento": "2025-10-23",
          "eh_dentista": false,
          "falar_com_humano": false,
          "eh_indicacao_dentista": "Ninguém"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2025-10-14T20:05:21.907Z",
      "createdAt": "2025-10-14T20:05:21.907Z",
      "role": "workflow:owner",
      "workflowId": "ysnhHcfKAcnFShkM",
      "projectId": "IcfJLMCsRkuOqzR8"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-27T19:24:19.000Z",
  "versionId": "1b9a54c3-3626-4b48-9b08-e8f68a02e00f"
}