workflows/Montar RAG.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "Move File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Search Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Folder": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Text": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from JSON": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Search Folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-13T21:44:47.111Z",
  "id": "p8DxF3xgVMoT5Ty7",
  "isArchived": true,
  "meta": null,
  "name": "Montar RAG",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "dc73f96a-d7f3-4c5e-9183-50d938c7737a",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        1488,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 800,
        "chunkOverlap": 150,
        "options": {}
      },
      "id": "4a932104-e8e7-4e6a-8ef1-f274d1dd7753",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        1568,
        848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "0d440a83-c36e-4897-8a43-468840f48043",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1376,
        640
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "ER0I3fZmmkBwmDBr",
          "name": "OpenAi ni.automacoes"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "n8n_vectors_orthox",
        "options": {
          "collection": {
            "values": {
              "useCollection": true,
              "collectionName": "n8n_orthox",
              "collectionTableName": "n8n_orthox_vector_collections"
            }
          }
        }
      },
      "id": "050ab5a6-2f61-4eab-9fd0-1db4df30a513",
      "name": "Postgres PGVector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "position": [
        1392,
        416
      ],
      "typeVersion": 1.1,
      "credentials": {
        "postgres": {
          "id": "uguYjEHFVI0StZBL",
          "name": "Postgres n8n"
        }
      }
    },
    {
      "parameters": {},
      "id": "7e41c76e-5794-449c-9135-91d564909150",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        16,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b041cdc3-f748-4d54-9543-c8085a80a800",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        496,
        496
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Loop Over Items').item.json.id }}"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "164lQc8IGQye5poTUEsR2VZ_FYSd5bf6v",
          "mode": "list",
          "cachedResultName": "vectorized",
          "cachedResultUrl": "https://drive.google.com/drive/folders/164lQc8IGQye5poTUEsR2VZ_FYSd5bf6v"
        }
      },
      "id": "51d546d1-f03b-429c-a0fd-fec6eb6d3fc3",
      "name": "Move File",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1872,
        608
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "a4e5d98a-5880-419d-9b1b-140491896991",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        720,
        320
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/u/1/folders/1XNK7YT5mS6W54-t2OKzTEecDcMX8zGsH",
            "mode": "url"
          },
          "whatToSearch": "all"
        },
        "options": {}
      },
      "id": "4ce9af3a-f22d-44d5-8d6c-53d7e32233a3",
      "name": "Search Folder",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        240,
        496
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PkETPLOwYBwPIgsU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 3
            }
          ]
        }
      },
      "id": "b38c4c8c-8832-4815-b7b2-24918a133cf6",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        16,
        736
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Vetorizar arquivos de diretório no Drive\n\nBasicamente lê um diretório, carrega todos os arquivos, e tudo que for pdf, json ou txt ele converte o conteúdo pra binário, sobe numa base vetorizada e move os arquivos para um outro diretório 'vectorized'.\n\n**Esse fluxo é ativado de 3 formas**\n- Executando manualmente o fluxo\n- 1x por dia via Cron Job\n- Acionando o Webhook através de alguma aplicação",
        "height": 260,
        "width": 660
      },
      "id": "8153e4b1-c5ba-4261-8ffe-dc83b54e1549",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        -144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "7b4e792b-ab6d-4b9b-88a1-d8e51bea6853",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{$binary[\"data\"].mimeType}}",
                    "rightValue": "application/pdf"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "09b7d7c5-5353-4719-b4e2-072e4da39948",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{$binary[\"data\"].mimeType}}",
                    "rightValue": "text/plain"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "d2763a45-a592-47c8-868f-59dfcd17a71c",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{$binary[\"data\"].mimeType}}",
                    "rightValue": "application/json"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "json"
            }
          ]
        },
        "options": {}
      },
      "id": "cf06c2a4-c5a3-4d59-9d43-1837f55bdffc",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        928,
        320
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "891c8032-ae1c-48c1-8de6-fb309e3de225",
      "name": "Extract from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1152,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "4c302946-2b4a-4231-a189-01aa3e12213b",
      "name": "Extract from Text",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1152,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "48ca24b9-9859-421f-931e-b614d7c1add8",
      "name": "Extract from JSON",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1152,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "path": "cdd9b2ff-01d5-43b5-b033-4b5761a40be5",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        16,
        304
      ],
      "id": "f17da373-3c7b-491e-bd92-185333be5e61",
      "name": "Webhook",
      "webhookId": "cdd9b2ff-01d5-43b5-b033-4b5761a40be5"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": \"true\",\n  \"message\": \"A rotina de atualização da base de conhecimento foi iniciada com sucesso. Em alguns minutos a base estará atualizada (esse tempo pode variar de acordo com a quantidade de arquivos que precisam ser sincronizados).\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        240,
        240
      ],
      "id": "1af5b3d7-cf14-4114-ae6c-ba7c98801ed7",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-13T21:44:47.114Z",
      "createdAt": "2025-08-13T21:44:47.114Z",
      "role": "workflow:owner",
      "workflowId": "p8DxF3xgVMoT5Ty7",
      "projectId": "IcfJLMCsRkuOqzR8"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-22T11:52:21.000Z",
  "versionId": "09d92f48-eba9-450b-8c9f-5e8d83090987"
}