workflows/My workflow 2.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-28T19:23:04.760Z",
  "id": "jBliuhhTYwcG4o3RZXYBG",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "id": "31442693-6ff1-4154-98ed-afd3a350ec63",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1808,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "32bcbe3e-f699-4a4a-ba95-791cee257f28",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        -320,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "53227cae-de13-4612-81a5-6295f9c7530d",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -80,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "bb0f8b06-4408-424f-b0ff-ee854f2aafc5",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -80,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "a0a86621-036c-4901-98bb-f4a696a2c48c",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -80,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "8422a29a-502c-42f8-a5f8-31c35190a94e",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        96,
        272
      ],
      "typeVersion": 1,
      "webhookId": "1780ad7d-2eed-44c7-9947-b93bd8b45dc9",
      "credentials": {
        "githubApi": {
          "id": "FUkvyrFOuYIBn5f0",
          "name": "GitHub nanoautomacoes"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "c7891a50-a4e3-4a14-9abc-c4d92a8f8f0f",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        96,
        448
      ],
      "typeVersion": 1,
      "webhookId": "8e990ae1-eca1-491e-b67d-d02b148606a3",
      "credentials": {
        "githubApi": {
          "id": "FUkvyrFOuYIBn5f0",
          "name": "GitHub nanoautomacoes"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "54e6e55b-f594-4556-b53b-96c136254912",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -1184,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "nanoautomacoes"
            },
            {
              "name": "repo.name",
              "value": "bkp_orthox"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "5e8e1537-5467-420d-828e-96b69041792a",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -1616,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 12
            }
          ]
        }
      },
      "id": "a6b13c9e-bfd4-49df-9c73-49b32724a05c",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        -1808,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "39bf364f-2709-40ff-8ad7-d682e0b8fb92",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        -560,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "586294f6-bfa2-4a60-afbb-7fc4535ddbef",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -736,
        272
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "cd975e0c-c504-43bd-b79b-fc6424ecacbc",
      "name": "Get a file",
      "type": "n8n-nodes-base.github",
      "position": [
        -960,
        128
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "7e34ef40-d073-4c15-b0c5-4a150e579803",
      "credentials": {
        "githubApi": {
          "id": "FUkvyrFOuYIBn5f0",
          "name": "GitHub nanoautomacoes"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "filters": {
          "tags": ""
        },
        "requestOptions": {}
      },
      "id": "e742b055-4c0e-413d-9018-be0f8fc705fd",
      "name": "Get many workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -1424,
        288
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "VXxZOSmxXZRTwghq",
          "name": "n8n_github"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-04-28T19:23:04.763Z",
      "createdAt": "2026-04-28T19:23:04.763Z",
      "role": "workflow:owner",
      "workflowId": "jBliuhhTYwcG4o3RZXYBG",
      "projectId": "IcfJLMCsRkuOqzR8"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-28T19:29:29.004Z",
  "versionId": "4a4fa96b-7190-4587-846c-fc39aac4243f"
}